@import './_libs';
@import './_vars';
@import './_mixins.scss';
@import './variables.scss';
@import 'fonts';

// common styles

a{
  text-decoration: none;
}
.body{
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Montserrat, serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  min-height: 100vh;
  &__main{
    min-height: 200px;
  }
  &__footer{
    padding-top: 511px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }
}

.main{
  &__electronica{
    padding: 180px 0 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__production{
    padding: 80px 0 61px;
  }
  &__video{
    height: 624px;
    padding: 205px 0 135px 0;
    box-sizing: border-box;
  }
  &__slider-production{
    width: 100%;
    //min-height: 868px;
    padding-top: 107px;
    padding-bottom: 121px;
    box-sizing: border-box;
  }
  &__news{
    min-height: 837px;
    padding: 100px 0;
    //padding: 100px 224px 100px 225px;
  }
}

.container{
  margin: 0 11.7% ;
  height: 100%;
}


.card{
  border: 2px solid orange;
}
.swiper-container {
  width: 970px;
  height: 640px;
  margin: 0;
}
.swiper-button-prev:after {
  content: none;
}
.swiper-button-next:after {
  content: none;
}
.arrows{
  display: flex;
}
.swiper{
  display: flex;
  justify-content: space-between;
}
.swiper-buttons{
  display: flex;
  height: 18px;
  justify-content: space-between;
  margin-top: 35px;
}
.swiper-pagination > span{
  display: block;
}
.swiper-pagination{
  position: relative;
  display: flex;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
  width: 88px;
  padding: 0;
  margin-top: 50px;
}
.swiper-pagination-bullet {
  border-radius:0; // либо вообще удалить эту строчку из CSS
}

.swiper-button-prev{
  position: relative;
  transform: rotate(180deg);
  margin: 0;
  height: 18px;
}
.swiper-button-next{
  position: relative;
  margin: 0;
  height: 18px;
}
//.swiper-wrapper{
//  position: absolute;
//}
//.swiper-wrp{
//  position: absolute;
//}
.swiper-img{
  width: 970px;
  height: 640px;
}

@media (max-width: 1280px) {
  .container{
    margin: 0 4.3%;
  }
  .main__production{
    padding: 70px 0 55px;
  }
  .main__video{
    //height: 517px;
    padding: 155px 0 117px 0;
  }
}

@media (max-width: 1024px) {
  .container{
    margin: 0 25px;
  }
}
@media (max-width: 780px) {
  .container{
    margin: 0 0 0 22px;
  }
  .main__electronica{
    padding: 61px 0 19px;
  }
  .main__video{
    height: 415px;
    padding: 166px 0 147px 0;
  }
}
@media (max-width: 779px) {
  .container{
    margin: 0 16px 0 16px;
  }
}
@media (max-width: 710px) {
  .main__electronica {
    padding: 51px 0 0;
  }
}

@media (max-width: 630px) {
  .main__news{
    padding: 59px 0;
  }
}


@media (max-width: 320px) {
  .main__production{
    padding: 49px 0 71px;
  }

}
// end common styles

@import './_imports';
