<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" type="text/css" media="all" >

</head>
<body class="body">
  <header class="header  body__header">
    <div class="header__wrp">
      <div class="header__contacts container">
        <div class="header__about">
          <a href="#">
            <svg class="header__logo logo" width="200" height="36" viewBox="0 0 200 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 36H36.2956C36.2956 25.1443 36.2956 11.2268 36.2956 0H0C0 10.6701 0 25.9794 0 36ZM12.5351 8.16495H28.0636V23.567L23.1057 18.6495L12.0674 29.5979L6.54818 24.0309L17.5865 13.0825L12.5351 8.16495Z" fill="#025BFF"/>
              <path d="M12.5352 8.16504H28.0638V23.5671L23.1059 18.6496L12.0675 29.598L6.54834 24.031L17.4931 13.0826L12.5352 8.16504Z" fill="white"/>
              <path class="logo__words" d="M153.227 11.6906H157.063V15.4947H153.227V11.6906ZM200 20.6906V3.52567H192.797L189.804 11.6906L186.81 3.52567H179.607V20.6906H184.846V10.3917L188.681 20.6906H191.02L194.855 10.3917V20.6906H200ZM176.707 20.6906V3.52567H160.056V20.6906H165.295V8.07207H171.469V20.6906H176.707ZM144.154 10.7628H140.786V8.07207H144.154C144.995 8.07207 145.744 8.53598 145.744 9.37104C145.744 10.2061 145.089 10.7628 144.154 10.7628ZM140.879 20.6906V15.3092H144.902C148.924 15.3092 151.076 12.6185 151.076 9.46382C151.076 6.30918 148.924 3.61846 144.902 3.61846H135.641V20.7834H140.879V20.6906ZM124.322 16.4226C121.796 16.4226 120.206 14.5669 120.206 12.1545C120.206 9.74217 121.796 7.8865 124.322 7.8865C126.848 7.8865 128.531 9.74217 128.531 12.1545C128.531 14.5669 126.848 16.4226 124.322 16.4226ZM124.322 20.969C129.654 20.969 133.77 17.3504 133.77 12.0618C133.77 6.7731 129.654 3.15454 124.322 3.15454C118.99 3.15454 114.874 6.7731 114.874 12.0618C114.874 17.3504 118.99 20.969 124.322 20.969ZM109.822 20.6906V8.07207H114.406V3.52567H99.9066V8.07207H104.584V20.6906H109.822ZM100 20.6906L93.1713 11.5051L99.7195 3.52567H93.3584L88.8682 9.92774V3.52567H83.6297V20.6906H88.8682V15.9587L89.8037 14.6597L93.7326 20.6906H100ZM81.1975 20.6906V16.1442H73.3397V14.2886H81.0104V9.74217H73.3397V8.07207H81.1975V3.52567H68.1011V20.6906H81.1975ZM59.495 16.3298H55.2854V14.103H59.495C60.2433 14.103 60.711 14.5669 60.711 15.2164C60.711 15.8659 60.1498 16.3298 59.495 16.3298ZM59.3079 9.83495H55.2854V7.79372H59.3079C59.8691 7.79372 60.3369 8.16485 60.3369 8.72155C60.3369 9.37104 59.8691 9.83495 59.3079 9.83495ZM60.8981 20.6906C64.3593 20.6906 65.9496 18.4638 65.9496 16.0514C65.9496 13.8246 64.5464 12.1545 62.6755 11.8762C64.3593 11.5051 65.5754 10.1133 65.5754 7.97928C65.5754 5.93805 64.0787 3.61846 60.4304 3.61846H50.0469V20.7834H60.8981V20.6906Z" fill="#151616"/>
              <path class="logo__words" d="M54.35 32.4743V27.9279H50.0469V32.4743H51.263V28.9485H53.1339V32.4743H54.35ZM58.1853 32.6599C59.3079 32.6599 60.2433 31.732 60.2433 30.2475C60.2433 28.763 59.4014 27.8351 58.1853 27.8351C57.6241 27.8351 57.0628 28.1135 56.7821 28.4846V27.9279H55.5661V34.2372H56.7821V31.9176C57.1563 32.3815 57.6241 32.6599 58.1853 32.6599ZM57.8111 31.5465C57.437 31.5465 56.9692 31.2681 56.7821 30.9898V29.3197C56.9692 29.0413 57.437 28.8558 57.8111 28.8558C58.5595 28.8558 58.9337 29.4125 58.9337 30.1547C58.9337 30.9898 58.5595 31.5465 57.8111 31.5465ZM63.2368 32.6599C64.7335 32.6599 65.6689 31.5465 65.6689 30.2475C65.6689 28.9485 64.7335 27.8351 63.2368 27.8351C61.74 27.8351 60.8046 28.9485 60.8046 30.2475C60.8046 31.5465 61.74 32.6599 63.2368 32.6599ZM63.2368 31.5465C62.4884 31.5465 62.1142 30.897 62.1142 30.2475C62.1142 29.598 62.4884 28.9485 63.2368 28.9485C63.9851 28.9485 64.4529 29.598 64.4529 30.2475C64.4529 30.897 63.9851 31.5465 63.2368 31.5465ZM67.8205 32.4743L69.7849 29.598V32.4743H71.001V27.9279H69.7849L67.914 30.7114V27.9279H66.698V32.4743H67.8205ZM73.8074 32.6599C75.2106 32.6599 76.0525 32.1032 76.0525 31.2681C76.0525 30.6186 75.3041 30.2475 74.7429 30.1547C75.3977 30.0619 75.9589 29.6908 75.9589 29.0413C75.9589 28.2063 75.117 27.7423 73.7139 27.7423C72.8719 27.7423 72.2171 28.0207 71.7494 28.4846L72.3107 29.2269C72.6849 28.8558 73.1526 28.6702 73.7139 28.6702C74.2751 28.6702 74.6493 28.8558 74.6493 29.1341C74.6493 29.4125 74.3687 29.598 73.7139 29.598H72.7784V30.5259H73.7139C74.3687 30.5259 74.7429 30.7114 74.7429 30.9898C74.7429 31.2681 74.3687 31.4537 73.8074 31.4537C73.2461 31.4537 72.6849 31.2681 72.2171 30.897L71.6559 31.6393C72.1236 32.2887 72.8719 32.6599 73.8074 32.6599ZM79.9814 32.4743C80.9168 32.4743 81.3846 31.9176 81.3846 31.2681C81.3846 30.7114 81.0104 30.2475 80.5427 30.1547C81.0104 30.0619 81.3846 29.6908 81.3846 29.1341C81.3846 28.4846 80.9168 27.9279 79.9814 27.9279H77.0815V32.4743H79.9814ZM79.7008 31.5465H78.204V30.7114H79.7008C79.9814 30.7114 80.1685 30.897 80.1685 31.1753C80.1685 31.3609 79.9814 31.5465 79.7008 31.5465ZM79.6072 29.6908H78.1105V28.9485H79.6072C79.8878 28.9485 80.0749 29.1341 80.0749 29.3197C80.0749 29.5052 79.8878 29.6908 79.6072 29.6908ZM84.6587 32.6599C86.1554 32.6599 87.0908 31.5465 87.0908 30.2475C87.0908 28.9485 86.1554 27.8351 84.6587 27.8351C83.1619 27.8351 82.2265 28.9485 82.2265 30.2475C82.2265 31.5465 83.1619 32.6599 84.6587 32.6599ZM84.6587 31.5465C83.9103 31.5465 83.4426 30.897 83.4426 30.2475C83.4426 29.598 83.9103 28.9485 84.6587 28.9485C85.407 28.9485 85.7812 29.598 85.7812 30.2475C85.7812 30.897 85.407 31.5465 84.6587 31.5465ZM87.5586 33.6805H88.8682V32.4743H91.6746V33.5877H92.8907V31.3609H92.4229V27.8351H88.6811L88.4005 30.0619C88.3069 31.1753 88.0263 31.3609 87.6521 31.3609V33.6805H87.5586ZM89.7101 28.9485H91.2068V31.4537H89.0553C89.3359 31.1753 89.523 30.8042 89.6166 30.2475L89.7101 28.9485ZM95.7906 32.6599C96.726 32.6599 97.2873 32.196 97.6615 31.8248L96.8196 31.0826C96.6325 31.3609 96.2583 31.5465 95.8841 31.5465C95.1357 31.5465 94.668 30.9898 94.668 30.2475C94.668 29.4125 95.1357 28.9485 95.8841 28.9485C96.3518 28.9485 96.6325 29.1341 96.8196 29.4125L97.6615 28.6702C97.3808 28.2063 96.8196 27.8351 95.7906 27.8351C94.3874 27.8351 93.3584 28.8557 93.3584 30.2475C93.3584 31.6393 94.3874 32.6599 95.7906 32.6599ZM100.468 32.4743V28.9485H101.777V27.9279H97.9421V28.9485H99.2517V32.4743H100.468ZM105.519 32.4743C106.455 32.4743 106.922 31.9176 106.922 31.2681C106.922 30.7114 106.548 30.2475 106.081 30.1547C106.548 30.0619 106.829 29.6908 106.829 29.1341C106.829 28.4846 106.361 27.9279 105.426 27.9279H102.526V32.4743H105.519ZM105.239 31.5465H103.742V30.7114H105.239C105.519 30.7114 105.706 30.897 105.706 31.1753C105.706 31.3609 105.519 31.5465 105.239 31.5465ZM105.239 29.6908H103.742V28.9485H105.239C105.519 28.9485 105.706 29.1341 105.706 29.3197C105.613 29.5052 105.426 29.6908 105.239 29.6908ZM110.29 32.6599C111.038 32.6599 111.693 32.3815 112.161 32.0104L111.6 31.2681C111.319 31.5465 110.758 31.732 110.384 31.732C109.542 31.732 109.168 31.2681 109.074 30.7114H112.535V30.4331C112.535 28.9485 111.6 27.9279 110.197 27.9279C108.793 27.9279 107.764 29.0413 107.764 30.3403C107.858 31.732 108.887 32.6599 110.29 32.6599ZM111.319 29.7836H109.074C109.168 29.3197 109.448 28.763 110.197 28.763C111.038 28.763 111.319 29.3197 111.319 29.7836ZM114.593 32.4743V30.6186H116.464V32.4743H117.68V27.9279H116.464V29.598H114.593V27.9279H113.377V32.4743H114.593ZM120.112 32.4743V30.6186H121.983V32.4743H123.199V27.9279H121.983V29.598H120.112V27.9279H118.896V32.4743H120.112ZM126.567 32.6599C128.064 32.6599 128.999 31.5465 128.999 30.2475C128.999 28.9485 128.064 27.8351 126.567 27.8351C125.07 27.8351 124.135 28.9485 124.135 30.2475C124.135 31.5465 125.07 32.6599 126.567 32.6599ZM126.567 31.5465C125.819 31.5465 125.444 30.897 125.444 30.2475C125.444 29.598 125.912 28.9485 126.567 28.9485C127.315 28.9485 127.783 29.598 127.783 30.2475C127.783 30.897 127.315 31.5465 126.567 31.5465ZM132.086 32.6599C132.835 32.6599 133.489 32.3815 133.957 32.0104L133.396 31.2681C133.115 31.5465 132.554 31.732 132.18 31.732C131.338 31.732 130.964 31.2681 130.87 30.7114H134.331V30.4331C134.331 28.9485 133.396 27.9279 131.993 27.9279C130.589 27.9279 129.56 29.0413 129.56 30.3403C129.654 31.732 130.683 32.6599 132.086 32.6599ZM133.209 29.7836H130.964C131.057 29.3197 131.338 28.763 132.086 28.763C132.835 28.763 133.115 29.3197 133.209 29.7836ZM142.283 32.6599C143.779 32.6599 144.715 31.5465 144.715 30.2475C144.715 28.9485 143.779 27.8351 142.283 27.8351C140.786 27.8351 139.85 28.9485 139.85 30.2475C139.757 31.5465 140.692 32.6599 142.283 32.6599ZM142.283 31.5465C141.534 31.5465 141.16 30.897 141.16 30.2475C141.16 29.598 141.628 28.9485 142.283 28.9485C143.031 28.9485 143.499 29.598 143.499 30.2475C143.499 30.897 143.031 31.5465 142.283 31.5465ZM147.708 31.5465C146.96 31.5465 146.586 30.897 146.586 30.1547C146.586 29.5052 146.96 28.8558 147.708 28.8558C148.457 28.8558 148.831 29.5052 148.831 30.1547C148.924 30.897 148.457 31.5465 147.708 31.5465ZM147.708 32.6599C149.205 32.6599 150.14 31.5465 150.14 30.2475C150.14 28.9485 149.299 27.8351 147.989 27.8351C147.334 27.8351 146.773 28.1135 146.399 28.5774C146.492 28.0207 146.96 27.5568 148.082 27.464C148.831 27.3712 149.953 27.0929 149.953 26.2578H148.737C148.737 26.4434 148.457 26.5362 147.708 26.6289C146.118 26.8145 145.276 27.8351 145.276 30.0619C145.276 31.5465 146.212 32.6599 147.708 32.6599ZM154.724 32.4743C155.753 32.4743 156.314 31.8248 156.314 30.9898C156.314 30.1547 155.753 29.5052 154.724 29.5052H153.134V27.9279H150.608V28.9485H151.918V32.4743H154.724ZM154.537 30.5259C154.818 30.5259 155.098 30.7114 155.098 30.9898C155.098 31.2681 154.911 31.4537 154.537 31.4537H153.134V30.4331H154.537V30.5259ZM159.401 32.6599C160.15 32.6599 160.805 32.3815 161.272 32.0104L160.711 31.2681C160.43 31.5465 159.869 31.732 159.495 31.732C158.747 31.732 158.279 31.2681 158.185 30.7114H161.647V30.4331C161.647 28.9485 160.711 27.9279 159.308 27.9279C157.905 27.9279 156.876 29.0413 156.876 30.3403C156.969 31.732 157.998 32.6599 159.401 32.6599ZM160.43 29.7836H158.185C158.279 29.3197 158.56 28.763 159.308 28.763C160.15 28.763 160.43 29.3197 160.43 29.7836ZM162.114 33.6805H163.33V32.4743H166.137V33.5877H167.353V31.3609H166.885V27.8351H163.143L162.863 30.0619C162.676 31.1753 162.488 31.3609 162.114 31.3609V33.6805ZM164.172 28.9485H165.669V31.4537H163.517C163.798 31.1753 163.985 30.8042 164.079 30.2475L164.172 28.9485ZM169.317 32.4743L171.282 29.598V32.4743H172.498V27.9279H171.188L169.317 30.7114V27.9279H168.101V32.4743H169.317ZM174.836 32.4743V30.6186H176.707V32.4743H177.923V27.9279H176.801V29.598H174.93V27.9279H173.714V32.4743H174.836ZM181.385 32.6599C182.133 32.6599 182.788 32.3815 183.255 32.0104L182.694 31.2681C182.414 31.5465 181.852 31.732 181.478 31.732C180.636 31.732 180.262 31.2681 180.168 30.7114H183.63V30.4331C183.63 28.9485 182.694 27.9279 181.291 27.9279C179.888 27.9279 178.859 29.0413 178.859 30.3403C178.859 31.732 179.981 32.6599 181.385 32.6599ZM182.414 29.7836H180.168C180.262 29.3197 180.543 28.763 181.291 28.763C182.039 28.763 182.414 29.3197 182.414 29.7836ZM185.688 32.4743V30.6186H187.559V32.4743H188.775V27.9279H187.559V29.598H185.688V27.9279H184.472V32.4743H185.688ZM191.113 32.4743L193.078 29.598V32.4743H194.294V27.9279H193.078L191.207 30.7114V27.9279H189.991V32.4743H191.113ZM197.755 32.6599C198.503 32.6599 199.158 32.3815 199.626 32.0104L199.065 31.2681C198.784 31.5465 198.223 31.732 197.849 31.732C197.007 31.732 196.539 31.2681 196.539 30.7114H200V30.4331C200 28.9485 199.065 27.9279 197.661 27.9279C196.258 27.9279 195.229 29.0413 195.229 30.3403C195.229 31.732 196.258 32.6599 197.755 32.6599ZM198.784 29.7836H196.445C196.539 29.3197 196.82 28.763 197.568 28.763C198.41 28.763 198.69 29.3197 198.784 29.7836Z" fill="#151616"/>
            </svg>
          </a>
          <div class="header__line"></div>
          <span class="header__words">опыт. репутация. надежность</span>
        </div>
        <div class="header__connect">
          <div class="header__connect-wrp">
            <a href="mailto:mail@vektorpm.ru" class="header__mail">mail@vektorpm.ru</a>
            <a href="tel:88001002489" class="header__tel">8 800 100 24 89</a>
          </div>

          <a href="tel:88001002489" class="header__phone">
            <svg class="header__telsvg" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="header__phoneicon" d="M17.7059 6.67982L12.8405 6.67982M12.8405 6.67982V1.81445M12.8405 6.67982L17.7059 1.81458M18.1054 14.6927V17.2729C18.1064 17.5125 18.0573 17.7496 17.9614 17.969C17.8654 18.1885 17.7247 18.3855 17.5482 18.5475C17.3717 18.7094 17.1633 18.8327 16.9364 18.9094C16.7094 18.9862 16.469 19.0147 16.2304 18.9931C13.5838 18.7055 11.0416 17.8012 8.80793 16.3527C6.72982 15.0321 4.96795 13.2703 3.64744 11.1922C2.19388 8.94838 1.2893 6.39375 1.00698 3.73524C0.985488 3.4974 1.01375 3.25769 1.08998 3.03137C1.1662 2.80505 1.28872 2.59708 1.44972 2.4207C1.61073 2.24433 1.80669 2.10341 2.02514 2.00692C2.24359 1.91043 2.47974 1.86048 2.71855 1.86026H5.29879C5.7162 1.85615 6.12085 2.00396 6.43734 2.27613C6.75382 2.54831 6.96054 2.92628 7.01896 3.3396C7.12787 4.16534 7.32984 4.9761 7.62102 5.75643C7.73674 6.06428 7.76178 6.39884 7.69318 6.72048C7.62459 7.04212 7.46523 7.33736 7.23398 7.57121L6.14168 8.66351C7.36605 10.8168 9.14892 12.5996 11.3022 13.824L12.3945 12.7317C12.6283 12.5005 12.9236 12.3411 13.2452 12.2725C13.5668 12.2039 13.9014 12.2289 14.2093 12.3447C14.9896 12.6358 15.8003 12.8378 16.6261 12.9467C17.0439 13.0057 17.4254 13.2161 17.6982 13.538C17.971 13.8599 18.1159 14.2709 18.1054 14.6927Z" stroke="#025BFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
          <button class="header__btn button">Кабинет дилера</button>
          <div class="header__basket">
            <span class="header__counter" class="">0</span>
            <svg class="header__basketsvg" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="header__basket-icon" d="M0 1H3.80952L6.3619 13.7524C6.44899 14.1909 6.68753 14.5847 7.03576 14.865C7.38398 15.1454 7.81971 15.2943 8.26667 15.2857H17.5238C17.9708 15.2943 18.4065 15.1454 18.7547 14.865C19.1029 14.5847 19.3415 14.1909 19.4286 13.7524L20.9524 5.7619H4.7619M8.57145 20.0476C8.57145 20.5736 8.14505 21 7.61906 21C7.09308 21 6.66668 20.5736 6.66668 20.0476C6.66668 19.5217 7.09308 19.0953 7.61906 19.0953C8.14505 19.0953 8.57145 19.5217 8.57145 20.0476ZM19.0476 20.0476C19.0476 20.5736 18.6212 21 18.0953 21C17.5693 21 17.1429 20.5736 17.1429 20.0476C17.1429 19.5217 17.5693 19.0953 18.0953 19.0953C18.6212 19.0953 19.0476 19.5217 19.0476 20.0476Z" stroke="#025BFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
      </div>


      <div class="mobile-menu header__mobilemenu">
        <input id="menu__toggle" type="checkbox" />
        <label class="mobile-menu__btn" for="menu__toggle">
          <span class="mobile-menu__line"></span>
        </label>

        <ul class="mobile-menu__box">
          <li class="mobile-menu__header">
            <a class="mobile-menu__item mobile-menu__lang" href="#">eng</a>
            <button class="mobile-menu__item">
              <svg width="17" height="17" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="mobile-menu__item-svg" d="M17.7059 6.67982L12.8405 6.67982M12.8405 6.67982V1.81445M12.8405 6.67982L17.7059 1.81458M18.1054 14.6927V17.2729C18.1064 17.5125 18.0573 17.7496 17.9614 17.969C17.8654 18.1885 17.7247 18.3855 17.5482 18.5475C17.3717 18.7094 17.1633 18.8327 16.9364 18.9094C16.7094 18.9862 16.469 19.0147 16.2304 18.9931C13.5838 18.7055 11.0416 17.8012 8.80793 16.3527C6.72982 15.0321 4.96795 13.2703 3.64744 11.1922C2.19388 8.94838 1.2893 6.39375 1.00698 3.73524C0.985488 3.4974 1.01375 3.25769 1.08998 3.03137C1.1662 2.80505 1.28872 2.59708 1.44972 2.4207C1.61073 2.24433 1.80669 2.10341 2.02514 2.00692C2.24359 1.91043 2.47974 1.86048 2.71855 1.86026H5.29879C5.7162 1.85615 6.12085 2.00396 6.43734 2.27613C6.75382 2.54831 6.96054 2.92628 7.01896 3.3396C7.12787 4.16534 7.32984 4.9761 7.62102 5.75643C7.73674 6.06428 7.76178 6.39884 7.69318 6.72048C7.62459 7.04212 7.46523 7.33736 7.23398 7.57121L6.14168 8.66351C7.36605 10.8168 9.14892 12.5996 11.3022 13.824L12.3945 12.7317C12.6283 12.5005 12.9236 12.3411 13.2452 12.2725C13.5668 12.2039 13.9014 12.2289 14.2093 12.3447C14.9896 12.6358 15.8003 12.8378 16.6261 12.9467C17.0439 13.0057 17.4254 13.2161 17.6982 13.538C17.971 13.8599 18.1159 14.2709 18.1054 14.6927Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
            <a class="header__basket mobile-menu__item" href="#">
              <span class="header__counter" class="">0</span>
              <svg width="20" height="20" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="mobile-menu__item-svg" d="M0 1H3.80952L6.3619 13.7524C6.44899 14.1909 6.68753 14.5847 7.03576 14.865C7.38398 15.1454 7.81971 15.2943 8.26667 15.2857H17.5238C17.9708 15.2943 18.4065 15.1454 18.7547 14.865C19.1029 14.5847 19.3415 14.1909 19.4286 13.7524L20.9524 5.7619H4.7619M8.57145 20.0476C8.57145 20.5736 8.14505 21 7.61906 21C7.09308 21 6.66668 20.5736 6.66668 20.0476C6.66668 19.5217 7.09308 19.0953 7.61906 19.0953C8.14505 19.0953 8.57145 19.5217 8.57145 20.0476ZM19.0476 20.0476C19.0476 20.5736 18.6212 21 18.0953 21C17.5693 21 17.1429 20.5736 17.1429 20.0476C17.1429 19.5217 17.5693 19.0953 18.0953 19.0953C18.6212 19.0953 19.0476 19.5217 19.0476 20.0476Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>

          </li>
          <li class="mobile-menu__search">
            <a class="mobile-menu__item mobile-menu__button" href="#">продукция</a>
            <a class="mobile-menu__search-wrp" href="#">
              <svg  width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="mobile-menu__loop-svg" d="M17 16.9999L13.1333 13.1332M15.2222 8.1111C15.2222 12.0385 12.0385 15.2222 8.1111 15.2222C4.18375 15.2222 1 12.0385 1 8.1111C1 4.18375 4.18375 1 8.1111 1C12.0385 1 15.2222 4.18375 15.2222 8.1111Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>

          </li>
          <li><a class="mobile-menu__item mobile-menu__button" href="#">о заводе</a></li>
          <li><a class="mobile-menu__item mobile-menu__button" href="#">готовые решения</a></li>
          <li><a class="mobile-menu__item mobile-menu__button" href="#">пресс-центр</a></li>
          <li><a class="mobile-menu__item mobile-menu__button" href="#">медиатека</a></li>
          <li><a class="mobile-menu__item mobile-menu__button" href="#">акции</a></li>
          <li><a class="mobile-menu__item mobile-menu__button" href="#">услуги</a></li>
          <li><a class="mobile-menu__item mobile-menu__button" href="#">представители</a></li>
          <li><a class="mobile-menu__item mobile-menu__button" href="#">контакты</a></li>
          <li><a class="mobile-menu__item mobile_menu__kab" href="#">Кабинет дилера</a></li>

          <li><a class="mobile-menu__item mobile-menu__button" href="tel:88001002489">8 800 100 24 89</a></li>
          <li><a class="mobile-menu__item mobile-menu__mail" href="mailto:mail@vektorpm.ru">mail@vektorpm.ru</a></li>


        </ul>
      </div>

    </div>


    <nav class="header-navigation header__navigation">
      <nav class="menu">
        <ul class=" header-navigation__menu">
          <li><a class="menu__link" href="#">о заводе</a></li>
          <li><a class="menu__link" href="#">готовые решения</a></li>
          <li><a class="menu__link" href="#">пресс-центр</a></li>
          <li><a class="menu__link" href="#">медиатека</a></li>
          <li><a class="menu__link" href="#">акции</a></li>
          <li><a class="menu__link" href="#">услуги</a></li>
          <li><a class="menu__link" href="#">представители</a></li>
          <li><a class="menu__link" href="#">контакты</a></li>
        </ul>
      </nav>
      <nav class="header-navigation__buttons">
        <button class="header-navigation__search">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="header__loop" d="M17 16.9999L13.1333 13.1332M15.2222 8.1111C15.2222 12.0385 12.0385 15.2222 8.1111 15.2222C4.18375 15.2222 1 12.0385 1 8.1111C1 4.18375 4.18375 1 8.1111 1C12.0385 1 15.2222 4.18375 15.2222 8.1111Z" stroke="#00318A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <button class="header-navigation__lang">eng</button>
      </nav>
    </nav>
  </header>

  <main class="main body__main">
    <section class="electronica main__electronica">
      <h1 class="title electronica__title electronica__second-title">весы и весовая электроника <span class="title__bold">мирового уровня</span></h1>

      <div class="container electronica__wrp">
        <div class="electronica__header">
          <h1 class="title electronica__title">весы и весовая электроника <span class="title__bold">мирового уровня</span></h1>
          <a class="electronica__button button" href="#">перейти в каталог</a>
        </div>
        <div class="electronica__articles">
          <article class="article electronica__article">
            <img class="article__img" src="../../images/article1.png" alt="Уралвес лого">
            <h1 class="article__title">Производство весов  и весовой электроники УРАЛВЕС</h1>
            <p class="article__text">17 лет проектирования  и производства автомобильных весов, оптимальные решения  для бизнес задач</p>
            <a href="#" class="article__link">
              <svg width="29" height="16" viewBox="0 0 29 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="article__link-svg" d="M20.6649 2.12199C20.2944 1.72757 20.304 1.11019 20.6867 0.727534C21.0853 0.328893 21.7343 0.337515 22.1222 0.746606L29 8L22.1222 15.2534C21.7343 15.6625 21.0853 15.6711 20.6867 15.2725C20.304 14.8898 20.2944 14.2724 20.6649 13.878L25.2476 9L25.9999 8L25.2476 7L20.6649 2.12199Z" fill="white"/>
                <path class="article__link-svg" d="M1 8C1 7.44772 1.44772 7 2 7H26V9H2C1.44772 9 1 8.55228 1 8Z" fill="white"/>
              </svg>
            </a>
          </article>
          <article class="article electronica__article">
            <img class="article__img" src="../../images/article2.png" alt="Tрид лого">
            <h1 class="article__title">Приборостроение ТРИД</h1>
            <a href="#" class="article__link">
              <svg width="29" height="16" viewBox="0 0 29 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="article__link-svg" d="M20.6649 2.12199C20.2944 1.72757 20.304 1.11019 20.6867 0.727534C21.0853 0.328893 21.7343 0.337515 22.1222 0.746606L29 8L22.1222 15.2534C21.7343 15.6625 21.0853 15.6711 20.6867 15.2725C20.304 14.8898 20.2944 14.2724 20.6649 13.878L25.2476 9L25.9999 8L25.2476 7L20.6649 2.12199Z" fill="white"/>
                <path class="article__link-svg" d="M1 8C1 7.44772 1.44772 7 2 7H26V9H2C1.44772 9 1 8.55228 1 8Z" fill="white"/>
              </svg>
            </a>
          </article>
          <article class="article electronica__article">
            <img class="article__img" src="../../images/article3.png" alt="Вектор лого">
            <h1 class="article__title">Производство гидроцилиндров ВЕКТОР-ПМ</h1>
            <a href="#" class="article__link">
              <svg width="29" height="16" viewBox="0 0 29 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="article__link-svg" d="M20.6649 2.12199C20.2944 1.72757 20.304 1.11019 20.6867 0.727534C21.0853 0.328893 21.7343 0.337515 22.1222 0.746606L29 8L22.1222 15.2534C21.7343 15.6625 21.0853 15.6711 20.6867 15.2725C20.304 14.8898 20.2944 14.2724 20.6649 13.878L25.2476 9L25.9999 8L25.2476 7L20.6649 2.12199Z" fill="white"/>
                <path class="article__link-svg" d="M1 8C1 7.44772 1.44772 7 2 7H26V9H2C1.44772 9 1 8.55228 1 8Z" fill="white"/>
              </svg>
            </a>
          </article>
        </div>
      </div>
      <nav class="electronica__nav pagination">
        <button class="pagination__button"></button>
        <button class="pagination__button"></button>
        <button class="pagination__button"></button>
      </nav>
      <div class="electronica__btns">
        <button class="electronica__btn-arrow">
          <svg class="electronica__arrow-svg" width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="electronica__arrow-path" d="M12.7137 2.11913C12.3203 1.73052 12.3184 1.09596 12.7094 0.704945C13.0987 0.315615 13.73 0.315615 14.1193 0.704946L22.0001 8.58579L14.1193 16.4665C13.73 16.8559 13.0988 16.8559 12.7094 16.4665C12.3184 16.0755 12.3204 15.441 12.7138 15.0524L18.2477 9.58579H1C0.447715 9.58579 0 9.13807 0 8.58579C0 8.0335 0.447716 7.58579 1 7.58579H18.2477L12.7137 2.11913Z" fill="#025BFF"/>
          </svg>
        </button>
        <button class="electronica__btn-arrow">
          <svg class="electronica__arrow-svg" width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="electronica__arrow-path" d="M12.7137 2.11913C12.3203 1.73052 12.3184 1.09596 12.7094 0.704945C13.0987 0.315615 13.73 0.315615 14.1193 0.704946L22.0001 8.58579L14.1193 16.4665C13.73 16.8559 13.0988 16.8559 12.7094 16.4665C12.3184 16.0755 12.3204 15.441 12.7138 15.0524L18.2477 9.58579H1C0.447715 9.58579 0 9.13807 0 8.58579C0 8.0335 0.447716 7.58579 1 7.58579H18.2477L12.7137 2.11913Z" fill="#025BFF"/>
          </svg>
        </button>

      </div>
    </section>

    <section class="production container main__production">
      <h1 class="title production__title">Продукция Вектор-ПМ</h1>
      <span class="production__text">Мы предлагаем широкий модельный ряд, подбор оптимального решения, официальную гарантию, сервис и минимальные сроки доставки.</span>
      <div class="production__wrp">
        <article class="product-article production__article">
          <div class="hover-article product-article__hover">
            <h1 class="hover-article__title">Автомобильные весы</h1>
            <span class="hover-article__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ducimus eaque maxime nam officia praesentium sit ut voluptatum? Architecto aut deserunt dolorem ipsa minus molestias nemo quisquam ratione recusandae rerum.
            </span>
            <a class="hover-article__link" href="#">Подробнее</a>
          </div>
          <img class="product-article__img" src="../../images/product1.jpg" alt="photo">
          <span class="product-article__title">Автомобильные весы</span>
          <a class="product-article__link-wrp" href="#">
            <img class="product-article__link" src="../../images/blueArrow.png" alt="link">
          </a>
        </article>
        <article class="product-article production__article">
          <div class="hover-article product-article__hover">
            <h1 class="hover-article__title">Датчики давления</h1>
            <span class="hover-article__text">Контрольно-измерительные приборы и автоматика пользуются широким спросом осуществляя безопасность, точность измерений, комфортными в эксплуатации регулируя экономию энергоносителей.</span>
            <a class="hover-article__link" href="#">Подробнее</a>
          </div>
          <img class="product-article__img" src="../../images/product2.jpg" alt="photo">
          <span class="product-article__title">Датчики давления - разрежения</span>
          <a href="#">
            <img class="product-article__link" src="../../images/blueArrow.png" alt="link">
          </a>
        </article>
        <article class="product-article production__article">
          <div class="hover-article product-article__hover">
            <h1 class="hover-article__title">Датчики давления</h1>
            <span class="hover-article__text">Контрольно-измерительные приборы и автоматика пользуются широким спросом осуществляя безопасность, точность измерений, комфортными в эксплуатации регулируя экономию энергоносителей.</span>
            <a class="hover-article__link" href="#">Подробнее</a>
          </div>
          <img class="product-article__img" src="../../images/product2.jpg" alt="photo">
          <span class="product-article__title">Датчики давления - разрежения</span>
          <a href="#">
            <img class="product-article__link" src="../../images/blueArrow.png" alt="link">
          </a>
        </article>
        <article class="product-article production__article">
          <div class="hover-article product-article__hover">
            <h1 class="hover-article__title">Модернизация механических весов</h1>
            <span class="hover-article__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ducimus eaque maxime nam officia praesentium sit ut voluptatum? Architecto aut deserunt dolorem ipsa minus molestias nemo quisquam ratione recusandae rerum.
            </span>
            <a class="hover-article__link" href="#">Подробнее</a>
          </div>
          <img class="product-article__img" src="../../images/product4.jpg" alt="photo">
          <span class="product-article__title">Модернизация механических весов</span>
          <a href="#">
            <img class="product-article__link" src="../../images/blueArrow.png" alt="link">
          </a>
        </article>
        <article class="product-article production__article">
          <div class="hover-article product-article__hover">
            <h1 class="hover-article__title">Автомобильные весы</h1>
            <span class="hover-article__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ducimus eaque maxime nam officia praesentium sit ut voluptatum? Architecto aut deserunt dolorem ipsa minus molestias nemo quisquam ratione recusandae rerum.
            </span>
            <a class="hover-article__link" href="#">Подробнее</a>
          </div>
          <img class="product-article__img" src="../../images/product1.jpg" alt="photo">
          <span class="product-article__title">Автомобильные весы</span>
          <a href="#">
            <img class="product-article__link" src="../../images/blueArrow.png" alt="link">
          </a>
        </article>
        <article class="product-article production__article">
          <div class="hover-article product-article__hover">
            <h1 class="hover-article__title">Датчики давления</h1>
            <span class="hover-article__text">Контрольно-измерительные приборы и автоматика пользуются широким спросом осуществляя безопасность, точность измерений, комфортными в эксплуатации регулируя экономию энергоносителей.</span>
            <a class="hover-article__link" href="#">Подробнее</a>
          </div>
          <img class="product-article__img" src="../../images/product2.jpg" alt="photo">
          <span class="product-article__title">Датчики давления - разрежения</span>
          <a href="#">
            <img class="product-article__link" src="../../images/blueArrow.png" alt="link">
          </a>
        </article>
        <article class="product-article production__article">
          <div class="hover-article product-article__hover">
            <h1 class="hover-article__title">Измерители-регуляторы универсальные</h1>
            <span class="hover-article__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ducimus eaque maxime nam officia praesentium sit ut voluptatum? Architecto aut deserunt dolorem ipsa minus molestias nemo quisquam ratione recusandae rerum.
            </span>
            <a class="hover-article__link" href="#">Подробнее</a>
          </div>
          <img class="product-article__img" src="../../images/product3.jpg" alt="photo">
          <span class="product-article__title">Измерители-регуляторы универсальные</span>
          <a href="#">
            <img class="product-article__link" src="../../images/blueArrow.png" alt="link">
          </a>
        </article>
        <article class="product-article production__article">
          <div class="hover-article product-article__hover">
            <h1 class="hover-article__title">Модернизация механических весов</h1>
            <span class="hover-article__text">Контрольно-измерительные приборы и автоматика пользуются широким спросом осуществляя безопасность, точность измерений, комфортными в эксплуатации регулируя экономию энергоносителей.</span>
            <a class="hover-article__link" href="#">Подробнее</a>
          </div>
          <img class="product-article__img" src="../../images/product4.jpg" alt="photo">
          <span class="product-article__title">Модернизация механических весов</span>
          <a href="#">
            <img class="product-article__link" src="../../images/blueArrow.png" alt="link">
          </a>
        </article>
      </div>
      <a href="#" class="button production__button">Весь каталог</a>
    </section>

    <section class="video main__video">
      <div class="container">
        <div class="video__wrp">
          <div class="video__txt">
            <button class="video__link wow fadeInLeft animated" id="show">посмотреть видео</button>
            <h1 class="video__title wow fadeInLeft animated" data-wow-delay="1s">сделано в перми <div class="video__name">«Вектор-ПМ»</div></h1>
          </div>
          <div class="video__line wow fadeInLeft animated" data-wow-delay="2s"></div>


            <button id="button" class="video__circle  wow fadeInLeft animated" data-wow-delay="3s">
              <svg class="video__triangle" data-wow-delay="3s" width="100.6" height="127.98" viewBox="0 0 103 130" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="video__triangle-path" d="M1 1L101.595 64.9881L1 128.976V1Z" stroke="white" stroke-opacity="0.35" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>



        </div>
        <iframe id = "video" class="video__play" width="560" height="315" src="https://www.youtube.com/embed/FXNBSVTGCmc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    </section>

  </main>

  <footer class="footer body__footer">
    <div class="footer__info container">
      <div class="footer__data">
        <a href="#">
          <svg class="footer__logo logo" width="345" height="63" viewBox="0 0 200 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 36H36.2956C36.2956 25.1443 36.2956 11.2268 36.2956 0H0C0 10.6701 0 25.9794 0 36ZM12.5351 8.16495H28.0636V23.567L23.1057 18.6495L12.0674 29.5979L6.54818 24.0309L17.5865 13.0825L12.5351 8.16495Z" fill="#025BFF"/>
            <path d="M12.5352 8.16504H28.0638V23.5671L23.1059 18.6496L12.0675 29.598L6.54834 24.031L17.4931 13.0826L12.5352 8.16504Z" fill="white"/>
            <path class="logo__words" d="M153.227 11.6906H157.063V15.4947H153.227V11.6906ZM200 20.6906V3.52567H192.797L189.804 11.6906L186.81 3.52567H179.607V20.6906H184.846V10.3917L188.681 20.6906H191.02L194.855 10.3917V20.6906H200ZM176.707 20.6906V3.52567H160.056V20.6906H165.295V8.07207H171.469V20.6906H176.707ZM144.154 10.7628H140.786V8.07207H144.154C144.995 8.07207 145.744 8.53598 145.744 9.37104C145.744 10.2061 145.089 10.7628 144.154 10.7628ZM140.879 20.6906V15.3092H144.902C148.924 15.3092 151.076 12.6185 151.076 9.46382C151.076 6.30918 148.924 3.61846 144.902 3.61846H135.641V20.7834H140.879V20.6906ZM124.322 16.4226C121.796 16.4226 120.206 14.5669 120.206 12.1545C120.206 9.74217 121.796 7.8865 124.322 7.8865C126.848 7.8865 128.531 9.74217 128.531 12.1545C128.531 14.5669 126.848 16.4226 124.322 16.4226ZM124.322 20.969C129.654 20.969 133.77 17.3504 133.77 12.0618C133.77 6.7731 129.654 3.15454 124.322 3.15454C118.99 3.15454 114.874 6.7731 114.874 12.0618C114.874 17.3504 118.99 20.969 124.322 20.969ZM109.822 20.6906V8.07207H114.406V3.52567H99.9066V8.07207H104.584V20.6906H109.822ZM100 20.6906L93.1713 11.5051L99.7195 3.52567H93.3584L88.8682 9.92774V3.52567H83.6297V20.6906H88.8682V15.9587L89.8037 14.6597L93.7326 20.6906H100ZM81.1975 20.6906V16.1442H73.3397V14.2886H81.0104V9.74217H73.3397V8.07207H81.1975V3.52567H68.1011V20.6906H81.1975ZM59.495 16.3298H55.2854V14.103H59.495C60.2433 14.103 60.711 14.5669 60.711 15.2164C60.711 15.8659 60.1498 16.3298 59.495 16.3298ZM59.3079 9.83495H55.2854V7.79372H59.3079C59.8691 7.79372 60.3369 8.16485 60.3369 8.72155C60.3369 9.37104 59.8691 9.83495 59.3079 9.83495ZM60.8981 20.6906C64.3593 20.6906 65.9496 18.4638 65.9496 16.0514C65.9496 13.8246 64.5464 12.1545 62.6755 11.8762C64.3593 11.5051 65.5754 10.1133 65.5754 7.97928C65.5754 5.93805 64.0787 3.61846 60.4304 3.61846H50.0469V20.7834H60.8981V20.6906Z" fill="white"/>
            <path class="logo__words" d="M54.35 32.4743V27.9279H50.0469V32.4743H51.263V28.9485H53.1339V32.4743H54.35ZM58.1853 32.6599C59.3079 32.6599 60.2433 31.732 60.2433 30.2475C60.2433 28.763 59.4014 27.8351 58.1853 27.8351C57.6241 27.8351 57.0628 28.1135 56.7821 28.4846V27.9279H55.5661V34.2372H56.7821V31.9176C57.1563 32.3815 57.6241 32.6599 58.1853 32.6599ZM57.8111 31.5465C57.437 31.5465 56.9692 31.2681 56.7821 30.9898V29.3197C56.9692 29.0413 57.437 28.8558 57.8111 28.8558C58.5595 28.8558 58.9337 29.4125 58.9337 30.1547C58.9337 30.9898 58.5595 31.5465 57.8111 31.5465ZM63.2368 32.6599C64.7335 32.6599 65.6689 31.5465 65.6689 30.2475C65.6689 28.9485 64.7335 27.8351 63.2368 27.8351C61.74 27.8351 60.8046 28.9485 60.8046 30.2475C60.8046 31.5465 61.74 32.6599 63.2368 32.6599ZM63.2368 31.5465C62.4884 31.5465 62.1142 30.897 62.1142 30.2475C62.1142 29.598 62.4884 28.9485 63.2368 28.9485C63.9851 28.9485 64.4529 29.598 64.4529 30.2475C64.4529 30.897 63.9851 31.5465 63.2368 31.5465ZM67.8205 32.4743L69.7849 29.598V32.4743H71.001V27.9279H69.7849L67.914 30.7114V27.9279H66.698V32.4743H67.8205ZM73.8074 32.6599C75.2106 32.6599 76.0525 32.1032 76.0525 31.2681C76.0525 30.6186 75.3041 30.2475 74.7429 30.1547C75.3977 30.0619 75.9589 29.6908 75.9589 29.0413C75.9589 28.2063 75.117 27.7423 73.7139 27.7423C72.8719 27.7423 72.2171 28.0207 71.7494 28.4846L72.3107 29.2269C72.6849 28.8558 73.1526 28.6702 73.7139 28.6702C74.2751 28.6702 74.6493 28.8558 74.6493 29.1341C74.6493 29.4125 74.3687 29.598 73.7139 29.598H72.7784V30.5259H73.7139C74.3687 30.5259 74.7429 30.7114 74.7429 30.9898C74.7429 31.2681 74.3687 31.4537 73.8074 31.4537C73.2461 31.4537 72.6849 31.2681 72.2171 30.897L71.6559 31.6393C72.1236 32.2887 72.8719 32.6599 73.8074 32.6599ZM79.9814 32.4743C80.9168 32.4743 81.3846 31.9176 81.3846 31.2681C81.3846 30.7114 81.0104 30.2475 80.5427 30.1547C81.0104 30.0619 81.3846 29.6908 81.3846 29.1341C81.3846 28.4846 80.9168 27.9279 79.9814 27.9279H77.0815V32.4743H79.9814ZM79.7008 31.5465H78.204V30.7114H79.7008C79.9814 30.7114 80.1685 30.897 80.1685 31.1753C80.1685 31.3609 79.9814 31.5465 79.7008 31.5465ZM79.6072 29.6908H78.1105V28.9485H79.6072C79.8878 28.9485 80.0749 29.1341 80.0749 29.3197C80.0749 29.5052 79.8878 29.6908 79.6072 29.6908ZM84.6587 32.6599C86.1554 32.6599 87.0908 31.5465 87.0908 30.2475C87.0908 28.9485 86.1554 27.8351 84.6587 27.8351C83.1619 27.8351 82.2265 28.9485 82.2265 30.2475C82.2265 31.5465 83.1619 32.6599 84.6587 32.6599ZM84.6587 31.5465C83.9103 31.5465 83.4426 30.897 83.4426 30.2475C83.4426 29.598 83.9103 28.9485 84.6587 28.9485C85.407 28.9485 85.7812 29.598 85.7812 30.2475C85.7812 30.897 85.407 31.5465 84.6587 31.5465ZM87.5586 33.6805H88.8682V32.4743H91.6746V33.5877H92.8907V31.3609H92.4229V27.8351H88.6811L88.4005 30.0619C88.3069 31.1753 88.0263 31.3609 87.6521 31.3609V33.6805H87.5586ZM89.7101 28.9485H91.2068V31.4537H89.0553C89.3359 31.1753 89.523 30.8042 89.6166 30.2475L89.7101 28.9485ZM95.7906 32.6599C96.726 32.6599 97.2873 32.196 97.6615 31.8248L96.8196 31.0826C96.6325 31.3609 96.2583 31.5465 95.8841 31.5465C95.1357 31.5465 94.668 30.9898 94.668 30.2475C94.668 29.4125 95.1357 28.9485 95.8841 28.9485C96.3518 28.9485 96.6325 29.1341 96.8196 29.4125L97.6615 28.6702C97.3808 28.2063 96.8196 27.8351 95.7906 27.8351C94.3874 27.8351 93.3584 28.8557 93.3584 30.2475C93.3584 31.6393 94.3874 32.6599 95.7906 32.6599ZM100.468 32.4743V28.9485H101.777V27.9279H97.9421V28.9485H99.2517V32.4743H100.468ZM105.519 32.4743C106.455 32.4743 106.922 31.9176 106.922 31.2681C106.922 30.7114 106.548 30.2475 106.081 30.1547C106.548 30.0619 106.829 29.6908 106.829 29.1341C106.829 28.4846 106.361 27.9279 105.426 27.9279H102.526V32.4743H105.519ZM105.239 31.5465H103.742V30.7114H105.239C105.519 30.7114 105.706 30.897 105.706 31.1753C105.706 31.3609 105.519 31.5465 105.239 31.5465ZM105.239 29.6908H103.742V28.9485H105.239C105.519 28.9485 105.706 29.1341 105.706 29.3197C105.613 29.5052 105.426 29.6908 105.239 29.6908ZM110.29 32.6599C111.038 32.6599 111.693 32.3815 112.161 32.0104L111.6 31.2681C111.319 31.5465 110.758 31.732 110.384 31.732C109.542 31.732 109.168 31.2681 109.074 30.7114H112.535V30.4331C112.535 28.9485 111.6 27.9279 110.197 27.9279C108.793 27.9279 107.764 29.0413 107.764 30.3403C107.858 31.732 108.887 32.6599 110.29 32.6599ZM111.319 29.7836H109.074C109.168 29.3197 109.448 28.763 110.197 28.763C111.038 28.763 111.319 29.3197 111.319 29.7836ZM114.593 32.4743V30.6186H116.464V32.4743H117.68V27.9279H116.464V29.598H114.593V27.9279H113.377V32.4743H114.593ZM120.112 32.4743V30.6186H121.983V32.4743H123.199V27.9279H121.983V29.598H120.112V27.9279H118.896V32.4743H120.112ZM126.567 32.6599C128.064 32.6599 128.999 31.5465 128.999 30.2475C128.999 28.9485 128.064 27.8351 126.567 27.8351C125.07 27.8351 124.135 28.9485 124.135 30.2475C124.135 31.5465 125.07 32.6599 126.567 32.6599ZM126.567 31.5465C125.819 31.5465 125.444 30.897 125.444 30.2475C125.444 29.598 125.912 28.9485 126.567 28.9485C127.315 28.9485 127.783 29.598 127.783 30.2475C127.783 30.897 127.315 31.5465 126.567 31.5465ZM132.086 32.6599C132.835 32.6599 133.489 32.3815 133.957 32.0104L133.396 31.2681C133.115 31.5465 132.554 31.732 132.18 31.732C131.338 31.732 130.964 31.2681 130.87 30.7114H134.331V30.4331C134.331 28.9485 133.396 27.9279 131.993 27.9279C130.589 27.9279 129.56 29.0413 129.56 30.3403C129.654 31.732 130.683 32.6599 132.086 32.6599ZM133.209 29.7836H130.964C131.057 29.3197 131.338 28.763 132.086 28.763C132.835 28.763 133.115 29.3197 133.209 29.7836ZM142.283 32.6599C143.779 32.6599 144.715 31.5465 144.715 30.2475C144.715 28.9485 143.779 27.8351 142.283 27.8351C140.786 27.8351 139.85 28.9485 139.85 30.2475C139.757 31.5465 140.692 32.6599 142.283 32.6599ZM142.283 31.5465C141.534 31.5465 141.16 30.897 141.16 30.2475C141.16 29.598 141.628 28.9485 142.283 28.9485C143.031 28.9485 143.499 29.598 143.499 30.2475C143.499 30.897 143.031 31.5465 142.283 31.5465ZM147.708 31.5465C146.96 31.5465 146.586 30.897 146.586 30.1547C146.586 29.5052 146.96 28.8558 147.708 28.8558C148.457 28.8558 148.831 29.5052 148.831 30.1547C148.924 30.897 148.457 31.5465 147.708 31.5465ZM147.708 32.6599C149.205 32.6599 150.14 31.5465 150.14 30.2475C150.14 28.9485 149.299 27.8351 147.989 27.8351C147.334 27.8351 146.773 28.1135 146.399 28.5774C146.492 28.0207 146.96 27.5568 148.082 27.464C148.831 27.3712 149.953 27.0929 149.953 26.2578H148.737C148.737 26.4434 148.457 26.5362 147.708 26.6289C146.118 26.8145 145.276 27.8351 145.276 30.0619C145.276 31.5465 146.212 32.6599 147.708 32.6599ZM154.724 32.4743C155.753 32.4743 156.314 31.8248 156.314 30.9898C156.314 30.1547 155.753 29.5052 154.724 29.5052H153.134V27.9279H150.608V28.9485H151.918V32.4743H154.724ZM154.537 30.5259C154.818 30.5259 155.098 30.7114 155.098 30.9898C155.098 31.2681 154.911 31.4537 154.537 31.4537H153.134V30.4331H154.537V30.5259ZM159.401 32.6599C160.15 32.6599 160.805 32.3815 161.272 32.0104L160.711 31.2681C160.43 31.5465 159.869 31.732 159.495 31.732C158.747 31.732 158.279 31.2681 158.185 30.7114H161.647V30.4331C161.647 28.9485 160.711 27.9279 159.308 27.9279C157.905 27.9279 156.876 29.0413 156.876 30.3403C156.969 31.732 157.998 32.6599 159.401 32.6599ZM160.43 29.7836H158.185C158.279 29.3197 158.56 28.763 159.308 28.763C160.15 28.763 160.43 29.3197 160.43 29.7836ZM162.114 33.6805H163.33V32.4743H166.137V33.5877H167.353V31.3609H166.885V27.8351H163.143L162.863 30.0619C162.676 31.1753 162.488 31.3609 162.114 31.3609V33.6805ZM164.172 28.9485H165.669V31.4537H163.517C163.798 31.1753 163.985 30.8042 164.079 30.2475L164.172 28.9485ZM169.317 32.4743L171.282 29.598V32.4743H172.498V27.9279H171.188L169.317 30.7114V27.9279H168.101V32.4743H169.317ZM174.836 32.4743V30.6186H176.707V32.4743H177.923V27.9279H176.801V29.598H174.93V27.9279H173.714V32.4743H174.836ZM181.385 32.6599C182.133 32.6599 182.788 32.3815 183.255 32.0104L182.694 31.2681C182.414 31.5465 181.852 31.732 181.478 31.732C180.636 31.732 180.262 31.2681 180.168 30.7114H183.63V30.4331C183.63 28.9485 182.694 27.9279 181.291 27.9279C179.888 27.9279 178.859 29.0413 178.859 30.3403C178.859 31.732 179.981 32.6599 181.385 32.6599ZM182.414 29.7836H180.168C180.262 29.3197 180.543 28.763 181.291 28.763C182.039 28.763 182.414 29.3197 182.414 29.7836ZM185.688 32.4743V30.6186H187.559V32.4743H188.775V27.9279H187.559V29.598H185.688V27.9279H184.472V32.4743H185.688ZM191.113 32.4743L193.078 29.598V32.4743H194.294V27.9279H193.078L191.207 30.7114V27.9279H189.991V32.4743H191.113ZM197.755 32.6599C198.503 32.6599 199.158 32.3815 199.626 32.0104L199.065 31.2681C198.784 31.5465 198.223 31.732 197.849 31.732C197.007 31.732 196.539 31.2681 196.539 30.7114H200V30.4331C200 28.9485 199.065 27.9279 197.661 27.9279C196.258 27.9279 195.229 29.0413 195.229 30.3403C195.229 31.732 196.258 32.6599 197.755 32.6599ZM198.784 29.7836H196.445C196.539 29.3197 196.82 28.763 197.568 28.763C198.41 28.763 198.69 29.3197 198.784 29.7836Z" fill="white"/>
          </svg>
        </a>
        <span class="footer__tel">8 (800) <span class="footer__styletel">100 24 89</span></span>
        <span class="footer__address">614038, Россия, Пермский край, г. Пермь, улица Академика Веденеева, 80а</span>
      </div>
      <div class="footer__wrp">
        <nav class="footer__nav">
          <a class="footer__link" href="#">О заводе</a>
          <a class="footer__link" href="#">Продукция</a>
          <a class="footer__link" href="#">Акции</a>
          <a class="footer__link" href="#">Готовые решения</a>
          <a class="footer__link" href="#">Пресс-центр</a>
          <a class="footer__link" href="#">Медиатека</a>
          <a class="footer__link" href="#">Услуги</a>
          <a class="footer__link" href="#">Представители</a>
          <a class="footer__link" href="#">Контакты</a>
        </nav>
        <div class="footer__links">
          <a href="#" class="footer__internet">
            <svg class="footer__youtube-svg" width="52" height="39" viewBox="0 0 54 39" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="footer__internet-svg" d="M51.849 6.78871C51.2588 4.52097 49.4881 2.73065 47.2452 2.10403C43.202 1 26.941 1 26.941 1C26.941 1 10.7094 1 6.63678 2.10403C4.39387 2.70081 2.65267 4.49113 2.03292 6.78871C1 10.9065 1 19.5 1 19.5C1 19.5 1 28.0935 2.09194 32.2113C2.68218 34.479 4.45289 36.2694 6.6958 36.896C10.7389 38 27 38 27 38C27 38 43.2316 38 47.3042 36.896C49.5471 36.2992 51.2883 34.5089 51.9081 32.2113C53 28.0935 53 19.5 53 19.5C53 19.5 52.941 10.9065 51.849 6.78871ZM21.6583 27.3177V11.6823L35.2338 19.5L21.6583 27.3177Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
            <div class="footer__circle footer__youtube"></div>
          </a>

          <a href="#" class="footer__internet">
            <svg class="footer__facebook-svg" width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="footer__internet-svg" d="M2.1 1H35.9C36.1917 1 36.4715 1.11589 36.6778 1.32218C36.8841 1.52847 37 1.80826 37 2.1V35.9C37 36.1917 36.8841 36.4715 36.6778 36.6778C36.4715 36.8841 36.1917 37 35.9 37H27.2333V24.3333H31.1933H32.073L32.1852 23.4609L32.9252 17.7076L33.0702 16.58H31.9333H27.2333V13.9133C27.2333 13.1257 27.355 12.7441 27.5253 12.5422C27.6633 12.3785 28.0154 12.1267 29.0733 12.1267H32.1H33.1V11.1267V6V5.10498L32.2105 5.00612C30.6959 4.83781 29.1735 4.7512 27.6496 4.74667H27.6467C25.2537 4.74667 23.1361 5.48037 21.6141 6.98675C20.0891 8.49601 19.2733 10.6706 19.2733 13.3333V16.5533H15.3333H14.3333V17.5533V23.3333V24.3333H15.3333H19.3V37H2.1C1.80826 37 1.52847 36.8841 1.32219 36.6778C1.11589 36.4715 1 36.1917 1 35.9V2.1C1 1.80826 1.11589 1.52847 1.32218 1.32218C1.52847 1.11589 1.80826 1 2.1 1Z" stroke="white" stroke-width="2"/>
            </svg>
            <div class="footer__circle"></div>
          </a>

          <a href="#" class="footer__internet">
            <svg class="footer__instagram-svg" width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="footer__internet-svg" fill-rule="evenodd" clip-rule="evenodd" d="M5.42634 5.08581C3.22167 7.17724 2 10.5722 2 15.8825V29.0642C2 34.9352 3.46167 38.3218 5.76171 40.2818C8.09652 42.2714 11.5195 42.9915 15.9049 42.9915H29.0866C33.2156 42.9915 36.6515 42.281 39.0552 40.2848C41.4199 38.321 42.9915 34.9339 42.9915 29.0866V15.9049C42.9915 10.3687 41.5405 6.96933 39.2206 4.92604C36.875 2.86013 33.4416 2 29.0866 2H15.9049C11.0567 2 7.64188 2.98407 5.42634 5.08581ZM4.04988 3.63482C6.81057 1.01593 10.8482 0 15.9049 0H29.0866C33.645 0 37.664 0.889869 40.5425 3.42519C43.4467 5.98312 44.9915 10.0362 44.9915 15.9049V29.0866C44.9915 35.2795 43.3173 39.3449 40.3329 41.8234C37.3875 44.2696 33.371 44.9915 29.0866 44.9915H15.9049C11.3854 44.9915 7.35593 44.268 4.46451 41.8041C1.53833 39.3105 0 35.2335 0 29.0642V15.8825C0 10.3103 1.27833 6.26402 4.04988 3.63482Z" fill="white"/>
              <path class="footer__internet-Svg" fill-rule="evenodd" clip-rule="evenodd" d="M22.4959 13.4614C17.5066 13.4614 13.4536 17.5079 13.4536 22.5037C13.4536 27.5005 17.499 31.546 22.4959 31.546C27.4927 31.546 31.5382 27.5005 31.5382 22.5037C31.5382 17.5069 27.4927 13.4614 22.4959 13.4614ZM11.4536 22.5037C11.4536 16.4023 16.403 11.4614 22.4959 11.4614C28.5973 11.4614 33.5382 16.4023 33.5382 22.5037C33.5382 28.6051 28.5973 33.546 22.4959 33.546C16.3945 33.546 11.4536 28.6051 11.4536 22.5037Z" fill="white"/>
              <path class="footer__internet-Svg" d="M33.9731 13.5951C35.3964 13.5951 36.5502 12.4413 36.5502 11.018C36.5502 9.59473 35.3964 8.44092 33.9731 8.44092C32.5498 8.44092 31.396 9.59473 31.396 11.018C31.396 12.4413 32.5498 13.5951 33.9731 13.5951Z" fill="white"/>
            </svg>
            <div class="footer__circle"></div>
          </a>

          <a href="#" class="footer__internet">
            <svg class="footer__instagram-svg" width="43" height="43" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="footer__internet-svg" d="M15.9049 1C27.9452 1 17.0463 1 29.0866 1C41.1269 1 43.9915 3.86461 43.9915 15.9049C43.9915 27.9452 43.9915 17.0463 43.9915 29.0866C43.9915 41.1269 41.1269 43.9915 29.0866 43.9915C17.0463 43.9915 27.9452 43.9915 15.9049 43.9915C3.86461 43.9915 1 41.1045 1 29.0642C1 17.0239 1 22.5964 1 15.8825C1 3.86461 3.86461 1 15.9049 1Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
              <path class="footer__internet-svg" fill-rule="evenodd" clip-rule="evenodd" d="M36.1807 15.7932C36.3821 15.1218 36.1807 14.6519 35.2408 14.6519H32.1076C31.3019 14.6519 30.9439 15.0771 30.7424 15.547C30.7424 15.547 29.1535 19.4411 26.8931 21.9476C26.1546 22.6862 25.8413 22.91 25.4384 22.91C25.237 22.91 24.9461 22.6862 24.9461 22.0148V15.7932C24.9461 14.9876 24.7223 14.6519 24.0509 14.6519H19.1274C18.635 14.6519 18.3217 15.0323 18.3217 15.368C18.3217 16.1289 19.4407 16.308 19.575 18.4117V23.0443C19.575 24.0513 19.3959 24.2304 18.9931 24.2304C17.9412 24.2304 15.3452 20.3363 13.8234 15.8604C13.5324 14.9876 13.2191 14.6519 12.4134 14.6519H9.28028C8.38509 14.6519 8.20605 15.0771 8.20605 15.547C8.20605 16.3751 9.2579 20.493 13.152 25.9312C15.748 29.6463 19.3959 31.6605 22.7081 31.6605C24.6999 31.6605 24.9461 31.2129 24.9461 30.4519V27.6321C24.9461 26.7369 25.1251 26.5579 25.7741 26.5579C26.2441 26.5579 27.0274 26.7817 28.8849 28.5721C31.011 30.6981 31.3691 31.6605 32.5552 31.6605H35.6884C36.5836 31.6605 37.0312 31.2129 36.7626 30.3401C36.4717 29.4672 35.4646 28.1916 34.1218 26.6698C33.3833 25.797 32.2866 24.8794 31.9733 24.4094C31.5034 23.8052 31.6376 23.5366 31.9733 23.0219C31.9733 22.9995 35.8003 17.6284 36.1807 15.7932Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
            <div class="footer__circle"></div>
          </a>

        </div>
      </div>

    </div>
    <div class="footer__copyright">
        <span class="footer__firm">&#169; Производственное объединение «Вектор-ПМ» 2002 – 2019</span>
        <a href="https://amado-id.ru/" class="footer__author">
          <span class="footer__text">Создание сайта</span>
          <svg class="footer__amado" width="180" height="48" viewBox="0 0 180 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.8482 44.7642C29.2577 44.7642 37.6963 36.3256 37.6963 25.916C37.6963 15.5065 29.2577 7.06787 18.8482 7.06787C8.43861 7.06787 0 15.5065 0 25.916C0 36.3256 8.43861 44.7642 18.8482 44.7642Z" fill="#FF4644"/>
            <path class="footer__amado-svg" d="M64.7432 38.2619L62.9998 33.8326H52.539L50.7956 38.2619H44.293L54.3296 14.5603C54.5181 14.0891 55.0364 13.7593 55.5076 13.7593H60.0312C60.5966 13.7593 61.0207 14.042 61.2092 14.5603L71.293 38.2619H64.7432ZM57.8165 20.5446L54.6595 28.6022H60.9736L57.8165 20.5446Z" fill="white"/>
            <path class="footer__amado-svg" d="M106.304 26.7175V38.2149H100.414V27.9897C100.414 25.9164 99.047 24.5971 97.3036 24.5971C95.136 24.5971 93.6753 26.152 93.6753 29.2149V38.2149H87.7381V27.9897C87.7381 25.9164 86.3716 24.5971 84.5811 24.5971C82.4607 24.5971 81.047 26.152 81.047 29.2149V38.2149H75.1099V21.0159C75.1099 20.4033 75.6753 19.8379 76.2879 19.8379H81.047V21.5342C82.2722 20.1206 84.1099 19.2725 86.513 19.2725C89.0575 19.2725 91.3193 20.4034 92.5915 22.3824C94.0523 20.4976 96.314 19.2725 99.1413 19.2725C103.147 19.3196 106.304 22.2882 106.304 26.7175Z" fill="white"/>
            <path class="footer__amado-svg" d="M130.759 38.2617H124.869V36.7539C123.456 38.0261 121.524 38.7329 119.121 38.7329C114.173 38.7329 110.026 34.822 110.026 29.0261C110.026 23.2775 114.173 19.3193 119.121 19.3193C121.524 19.3193 123.456 20.0733 124.869 21.2984V19.8377H130.806V38.2617H130.759ZM124.869 29.0733C124.869 26.246 122.749 24.3141 120.346 24.3141C117.801 24.3141 115.869 26.246 115.869 29.0733C115.869 31.9005 117.754 33.8324 120.346 33.8324C122.749 33.7853 124.869 31.9005 124.869 29.0733Z" fill="white"/>
            <path class="footer__amado-svg" d="M155.544 38.2617H149.607V36.7538C148.193 38.0261 146.262 38.7329 143.858 38.7329C138.911 38.7329 134.764 34.8219 134.764 29.0261C134.764 23.2774 138.911 19.3193 143.858 19.3193C146.262 19.3193 148.193 20.0732 149.607 21.2983V11.9214H155.544V38.2617ZM149.607 29.0732C149.607 26.246 147.487 24.3141 145.084 24.3141C142.539 24.3141 140.607 26.246 140.607 29.0732C140.607 31.9004 142.492 33.8324 145.084 33.8324C147.44 33.7853 149.607 31.9004 149.607 29.0732Z" fill="white"/>
            <path class="footer__amado-svg" d="M180 29.0733C180 34.8691 175.335 38.7801 169.822 38.7801C164.215 38.7801 159.55 34.9162 159.55 29.0733C159.55 23.3246 164.168 19.4136 169.822 19.4136C175.335 19.4136 180 23.2774 180 29.0733ZM174.298 29.0733C174.298 26.246 172.131 24.3141 169.822 24.3141C167.419 24.3141 165.251 26.1989 165.251 29.0733C165.251 31.9476 167.419 33.8324 169.822 33.8324C172.084 33.7853 174.298 31.9476 174.298 29.0733Z" fill="white"/>
            <path d="M7.91675 45.8481C7.86963 45.801 7.82251 45.801 7.77539 45.7539C7.86963 45.801 7.91675 45.801 7.91675 45.8481Z" fill="#5637E3"/>
            <path d="M3.62866 40.146C3.62866 40.0989 3.58154 40.0989 3.58154 40.0518C3.58154 40.0989 3.62866 40.0989 3.62866 40.146Z" fill="#5637E3"/>
            <path d="M54.2829 0C53.4819 0.424084 52.9636 1.17801 52.1625 1.60209C52.1625 1.55497 52.1625 1.50785 52.1625 1.46073C51.9269 1.60209 51.974 1.69633 51.8798 1.8377C51.8327 1.93194 51.6442 2.02618 51.5499 2.02618C51.4086 2.02618 51.5028 2.02618 51.4557 1.93194C51.4557 1.97906 50.0421 2.96859 49.8536 3.10995C49.5709 3.34555 49.3353 3.53403 49.0526 3.76963C48.817 3.95811 48.5814 4.33508 48.3458 4.47644C48.2044 4.57068 48.0159 4.57068 47.8274 4.71204C47.5918 4.8534 47.4034 5.04188 47.1677 5.18325C46.9793 5.32461 46.7437 5.37173 46.6023 5.46597C46.3196 5.70157 46.2725 6.03141 46.1311 6.26701C45.8955 6.54974 45.4714 6.78534 45.1887 6.97382C44.8588 7.20942 44.5761 7.44502 44.2934 7.72775C43.6808 8.24607 43.0212 8.7644 42.4086 9.28272C41.2306 10.3194 40.0526 11.4031 38.9217 12.4869C38.262 13.0995 37.6023 13.7592 36.8955 14.3717C36.5657 14.6544 36.2829 14.9372 35.9531 15.267C35.7646 15.4555 35.6232 15.5969 35.4819 15.7853C35.3876 15.9738 35.2463 16.2094 35.152 16.3979C35.0578 13.9476 33.2201 11.4974 30.6285 11.4031C30.6756 11.3089 30.6756 11.2618 30.7227 11.1675C28.4138 10.9319 26.1992 11.2618 24.0316 12.2042C22.0526 13.0524 20.262 14.3246 18.7541 15.8325C18.4714 14.8429 18.0945 13.7592 17.529 12.8639C17.3876 12.6754 17.2463 12.4398 17.1049 12.2513C17.0578 12.2042 16.8222 11.7801 16.8693 12.0628C16.728 11.3089 16.1154 10.4136 15.5971 9.89529C15.6442 9.89529 15.6913 9.94241 15.7384 9.98953C15.4557 9.4712 14.9845 9.28272 14.5604 8.90576C14.3719 8.7644 14.2306 8.48167 14.0421 8.38743C13.8536 8.29319 13.618 8.19895 13.4295 8.10471C13.1468 7.91623 12.8641 7.82199 12.5342 7.72775C12.3929 7.68063 12.2515 7.63351 12.1102 7.63351C12.0159 7.63351 11.7803 7.68063 11.6861 7.63351C11.5918 7.58639 11.5447 7.49215 11.4976 7.44503C11.3562 7.3979 11.1678 7.3979 11.0264 7.3979C10.6965 7.35078 10.3667 7.3979 10.0369 7.3979C8.81173 7.49215 7.53948 7.91623 6.50283 8.62304C5.98451 9 5.56042 9.51832 5.08922 9.98953C4.5709 10.5079 4.05257 11.0733 3.76985 11.7801C3.62849 12.1099 3.58137 12.3455 3.44001 12.6283C3.25152 12.911 3.11016 13.1937 2.9688 13.4764C2.63896 14.1832 2.35624 14.9372 2.26199 15.6911C2.26199 15.644 2.26199 15.5969 2.26199 15.5497C2.02639 16.445 1.83791 17.3874 1.74367 18.2827C1.69655 18.6597 1.69655 19.0366 1.74367 19.3665C1.74367 19.4136 1.79079 19.555 1.79079 19.6021C1.74367 19.7435 1.74367 19.6963 1.64943 19.8377C1.50807 20.0262 1.41383 20.1204 1.31959 20.356C1.17823 20.6859 1.08398 21.0628 1.08398 21.3927C1.08398 21.8168 1.1311 22.1937 1.1311 22.6178C1.1311 23.5131 1.08398 24.4084 1.22535 25.3037C1.27247 25.5864 1.17823 25.7749 1.17823 26.1047C1.17823 26.3403 1.17823 26.5759 1.1311 26.8115C1.1311 26.9058 1.08398 26.8115 1.08398 26.9529C1.08398 27.0471 1.1311 27.1885 1.1311 27.2827C1.17823 27.5183 1.22535 27.7539 1.27247 27.9895C1.36671 28.5079 1.46095 29.0262 1.55519 29.5445C1.93215 31.6178 2.30912 33.6911 2.7332 35.7644C2.9688 36.8953 3.2044 38.0262 3.48713 39.2042C3.53425 39.4869 3.58137 39.7696 3.67561 40.0524C3.76985 40.288 3.91121 40.4293 4.14681 40.5707C4.5709 40.8534 5.32482 41.4188 5.2777 41.3246C5.74891 41.9843 6.12587 43.5864 6.03163 43.4921C6.59707 43.9162 6.78555 44.7173 7.39812 45.1885C7.53948 45.2827 7.72796 45.3298 7.8222 45.4241C7.86932 45.4712 7.77508 45.5183 7.86932 45.5654C8.01069 45.6597 8.24629 46.0366 8.05781 45.9424C10.4609 47.733 13.5238 47.6387 15.974 45.9424C18.2829 44.3403 19.7908 41.8429 21.3458 39.5811C22.3824 38.0733 23.4662 36.6126 24.5971 35.1518C24.5971 35.2461 24.5971 35.3403 24.55 35.4345C24.7384 35.0105 24.8798 34.5864 25.0683 34.1152C25.1154 34.1623 25.1154 34.2565 25.1154 34.3508C26.3876 33.1728 26.906 31.4764 27.9426 30.1099C28.0369 30.2042 28.0369 30.3927 28.1782 30.3927C28.3196 30.3927 28.3667 30.0628 28.4138 29.9215C28.5552 29.6387 28.7437 29.4503 28.9793 29.2618C29.4505 28.8848 29.6861 28.555 29.3562 27.9895C29.4976 27.9895 29.639 28.1309 29.6861 28.2722C30.9112 26.0105 32.1835 23.7958 33.5971 21.6754C33.9269 21.2042 34.2096 20.733 34.5395 20.2618C34.6808 20.0262 34.8693 19.7906 35.0107 19.5079C35.152 19.2251 35.152 18.8953 35.1992 18.5654C35.2463 18.1885 35.2463 17.9529 35.4819 17.6702C35.6704 17.4346 35.8588 17.2461 36.0473 17.0105C36.4714 16.5393 36.8955 16.0681 37.3667 15.5969C37.3667 15.6911 37.6965 15.3613 37.6965 15.4084C38.4034 15.267 38.8274 14.5602 39.2044 14.0419C39.3929 13.8063 39.5342 13.5707 39.7698 13.4293C39.8641 13.3822 40.0526 13.3351 40.0997 13.288C40.241 13.0995 40.0997 12.911 39.9112 12.8639C41.1835 11.5916 42.4557 10.3665 43.7751 9.14136C44.4348 8.52879 45.0945 7.91623 45.707 7.30366C46.0369 7.02094 46.3667 6.6911 46.6494 6.40838C46.8379 6.21989 47.3091 5.56021 47.5918 5.89005C48.5814 4.75916 49.7123 3.76963 50.8903 2.87435C51.5028 2.40314 52.1154 1.97906 52.6808 1.55497C52.8693 1.41361 54.4243 0.235602 54.4243 0.235602C54.2829 0 54.1887 0.0942408 54.1887 0.0942408C54.1887 0.0471204 54.2358 0.0471204 54.2829 0C53.3876 0.424084 54.0002 0.188482 54.2829 0ZM29.4034 12.5812C30.817 12.7696 32.1363 13.3351 33.2672 14.2304C33.5499 14.466 33.7855 14.6544 33.974 15.0314C34.1154 15.3613 34.2096 15.6911 34.2568 16.0209C34.3039 16.3508 34.3039 16.6806 34.2568 17.0105C34.2568 17.1518 34.2568 17.3403 34.1625 17.4817C34.0683 17.6702 33.8327 17.8115 33.6913 17.9529C33.0787 18.4712 32.3719 18.9424 31.7594 19.4136C31.4295 19.6492 31.1468 19.9319 30.8641 20.1675C30.7227 20.3089 30.5814 20.4503 30.44 20.6387C30.3458 20.733 30.2515 20.9686 30.1573 20.7801C29.9217 21.2984 29.5447 21.7696 29.2149 22.1937C29.0264 22.3822 28.885 22.5707 28.6965 22.7592C28.5081 22.9005 28.2253 23.089 28.1311 23.2775C27.9897 23.5131 28.0369 23.8429 27.9426 24.1257C27.8484 24.3141 27.6599 24.4084 27.4714 24.5026C27.1416 24.7382 26.8589 24.9738 26.5761 25.2094C24.3615 26.9529 22.5238 29.0262 20.4034 30.911C18.5185 32.5602 15.9269 34.0681 13.4767 32.7016C13.0526 32.466 12.6285 32.089 12.3929 31.6178C12.1573 31.1937 12.2044 30.6754 12.2515 30.2042C12.3929 28.9319 13.0997 27.801 13.6651 26.7173C15.0316 24.1728 18.4714 19.4136 18.3772 19.6021C18.6128 19.2722 18.8955 18.9895 19.2253 18.7068C19.2253 18.8953 19.3196 19.0366 19.3196 19.2251C19.3196 19.2722 19.2725 19.2722 19.2725 19.2722C19.2253 19.555 19.3667 19.7435 19.3196 19.9791C19.3196 20.1675 19.1782 21.3927 19.1782 21.4398C19.1311 21.4869 19.1311 21.5812 19.084 21.6283C19.0369 21.6283 18.8484 22.6649 19.084 22.6649C19.2253 22.6649 19.1782 22.0995 19.2253 21.9581C19.3196 21.5811 19.3667 21.1571 19.4609 20.733C19.5552 20.2618 19.4609 19.7906 19.4138 19.3194C19.4138 19.178 19.4138 19.0366 19.4138 18.8953C19.4138 18.801 19.3196 18.5654 19.3667 18.4712C19.4138 18.377 19.6494 18.1885 19.7437 18.1414C20.5918 17.3874 26.7175 12.2042 29.4034 12.5812ZM31.7594 22.1466C30.2515 24.6911 28.6494 27.1885 27.0945 29.733C27.0473 29.6859 27.0002 29.6859 26.9531 29.6387C25.728 31.8534 24.0787 33.7853 22.4295 35.6702C21.6285 36.6126 20.8274 37.555 20.0735 38.4974C19.6965 39.0157 19.2725 39.534 18.8955 40.0524C18.5185 40.6178 18.0473 41.1361 17.5761 41.6544C15.974 43.5393 13.995 45.801 11.262 45.6597C9.98974 45.6126 8.81173 45 7.91644 44.1047C7.06828 43.2565 6.64419 42.0785 6.07875 41.089C5.41906 39.911 4.66514 38.733 4.09969 37.5078C3.53425 36.2827 3.25152 35.1047 3.15728 33.7382C2.9688 30.9581 2.68608 28.178 2.4976 25.445C2.30912 22.7592 2.26199 19.9319 2.63896 17.2461C2.82744 15.9267 3.34576 14.5131 3.86409 13.288C4.33529 12.1099 4.99498 11.0262 5.84315 10.1309C7.68084 8.24607 10.5552 7.11518 13.0526 8.43455C14.2306 9.09424 15.173 9.80105 15.9269 10.9791C16.7751 12.2042 17.3876 13.5236 17.9531 14.9372C17.9531 14.8901 17.9531 14.8429 17.9531 14.7958C18.0002 15.0314 18.0945 15.2199 18.1416 15.4555C18.1887 15.5969 18.4243 15.9738 18.3772 16.1152C18.3301 16.2565 18.0473 16.4921 17.9531 16.5864C17.8117 16.7277 17.6704 16.9162 17.529 17.0576C17.2463 17.3874 16.9636 17.7173 16.6337 18.0471C16.351 18.3298 16.3981 18.2827 16.1154 18.0471C15.0787 20.9215 10.7908 21.7225 10.7437 25.1152C10.6494 24.9738 10.5081 24.8325 10.4138 24.6911C10.8379 25.3979 10.084 26.7173 10.084 26.9058C10.0369 27.1414 10.2725 27.5183 10.2725 27.801C10.2725 28.3194 10.084 28.7906 9.8955 29.3089C9.6599 29.9215 9.4243 30.4869 9.51854 31.1466C9.61278 31.712 9.98974 32.2775 10.5081 32.5131C10.5081 32.5131 10.3667 32.5131 10.2725 32.5131C10.7437 32.8429 11.4976 33.0785 11.8274 33.644C11.7332 33.644 11.639 33.7853 11.4976 33.7853C12.0159 34.7749 13.1468 35.2461 14.1835 35.1989C15.5028 35.1518 16.6337 34.5393 17.8589 34.0681C17.8589 34.2565 17.8117 34.445 17.8117 34.6806C18.1887 34.0681 18.9897 33.7382 19.6023 33.3613C20.262 32.9843 20.8746 32.5602 21.3458 31.9005C21.3929 31.9948 21.44 32.0419 21.4871 32.1361C21.5814 31.9005 21.6285 31.6649 21.7227 31.3822C21.817 31.4764 21.9112 31.5707 22.0054 31.6649C22.1939 31.8063 22.0997 31.8534 22.3353 31.712C22.8065 31.4293 23.2306 31.0995 23.6075 30.6754C24.3615 29.8743 24.8798 28.9791 25.5866 28.178C25.6808 28.3194 25.7751 28.4607 25.8693 28.6021C26.3405 26.8586 28.1311 26.1518 29.0264 24.6911C29.0264 24.7382 29.0735 24.7853 29.0735 24.8325C30.2515 23.7016 31.3353 22.4293 32.4191 21.2042C32.1363 21.4869 31.9479 21.8168 31.7594 22.1466C30.2044 24.7382 31.9479 21.8168 31.7594 22.1466Z" fill="#5637E3"/>
          </svg>
        </a>
    </div>

  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script src="./src/js/transition.js"></script>
  <script src="./src/js/video.js"></script>
</body>
</html>
