.arrows{
  &__btn{
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    &:first-child{
      transform: rotate(180deg);
    }
    &:hover .arrows__svg-path{
      fill: $blueBG;
      transition: fill 0.25s;
    }
    &:active .arrows__svg-path{
      fill: #002871;
    }
  }
  &__btn-svg{
    display: block;
    margin: auto;
  }
  &__svg-path{
    transition: fill 0.25s;
  }
}
