.article{
  &__img{
    width: 66px;
  }
  &__title{
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    color: $whiteColor;
    margin: 27px 0 17px 0;
  }
  &__text{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: $whiteColor;
  }
  &__link{
    justify-self: flex-end;
    margin-top: auto;
    transition: fill 0.25s;
    &:hover .article__link-svg{
      fill: $blueColor;
      transition: fill 0.25s;
    }
    &:active .article__link-svg{
      fill: $whiteColor;
      transition: fill 0.25s;
    }
  }
}

@media (max-width: 1024px) {
  .article{
    &__title{
      font-size: 20px;
    }
    &:nth-child(2) > h1{
      font-size: 16px;
      margin: 21px 0 52px 0;
    }
    &:nth-child(3) > h1{
      font-size: 16px;
      margin: 7px 0 20px 0;
    }
    &__text{
      display: none;
    }
  }
}

@media (max-width: 710px) {
  .article{
    &__title{
      font-size: 17px;
    }
    &:nth-child(2) > h1,a{
      display: none;
    }
    &:nth-child(3) > h1,a{
      display: none;
    }
    &:nth-child(2) {
      left: 18%;
      top: 7%;
    }
    &:nth-child(3) {
      top: 14%;
      left: 33%;
    }
  }
}
