.border-block {
  border-top: 5px solid $blueBG;
  border-bottom: 5px solid $blueBG;
  border-left: 5px solid $blueBG;
  box-sizing: border-box;
  &::before {
    position: absolute;
    content: '';
    right: 0;
    top: -1px;
    width: 100px;
    height: 70px;
    border-right: 5px solid $blueBG;
  }

  &::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: -1px;
    width: 100px;
    height: 70px;
    border-right: 5px solid $blueBG;
  }
}
