.button{
  text-decoration: none;
  color: $whiteColor;
  border: 1px solid $whiteColor;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.63px;
  text-align: center;
  padding: 15px 33px;
  box-sizing: border-box;
  display: inline-block;
}
