.electronica{
  background-image: url("../images/bg-electronica.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 810px;
  position: relative;
  &__img{
    width: 48px;
  }
  &__header{
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__title{
    max-width: 50%;
    font-size: 45px;
    line-height: 64.4px;
    margin:0 0 134px 0;
  }
  &__button{
    border: 1px solid $whiteColor;
    color: $whiteColor;
    text-transform: uppercase;
    width: 205px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.63px;
    padding: 15px 33px;
    transition: background-color 0.25s, border 0.25s;
    &:hover{
      background-color: $blueBG;
      border: 1px solid $blueBG;
      transition: background-color 0.25s, border 0.25s;
    }
    &:active{
      background-color: transparent;
      border: 1px solid $whiteColor;
    }
  }
  &__wrp{
    display: flex;
    position: relative;
    height: 420px;
  }
  &__articles{
    display: flex;
  }
  &__article{
    padding: 34px 27px 18px 32px;
    box-sizing: border-box;
    width: 373px;
    height: 420px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(144.73deg, #AF0015 0%, #FF6C5D 52.08%, rgba(255, 217, 119, 0.63) 100%);
    opacity: 0.85;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 99;
    &:nth-child(2){
      padding: 23px 13px 19px 17px;
      box-sizing: border-box;
      width: 266px;
      height: 260px;
      background: linear-gradient(144.73deg, #0044C0 0%, #025BFF 49.32%, #25E5FF 100%);
      top: 13%;
      left: 78%;
      z-index: 98;
    }
    &:nth-child(3){
      padding: 21px 1px 15px 21px;
      box-sizing: border-box;
      width: 231px;
      height: 220px;
      background: linear-gradient(144.73deg, #670098 0%, rgba(255, 93, 219, 0.84) 60.42%, rgba(255, 220, 220, 0.59) 100%);
      top: 16%;
      left: 99%;
      z-index: 1;
    }
  }
  &__article-title{
    margin: 46px 0 52px 0;
    font-size: 20px;
    line-height: 28px;
    &:last-of-type{
      margin: 28px 0 20px 0;
      font-size: 18px;
      line-height: 24px;
    }
  }
  &__nav{
    margin: auto auto 0;
    width: 88px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: flex-end;
    align-items: center;
  }
  &__nav-btn{
    &:first-child{
      width: 16px;
      height: 16px;
      border: 1px solid $whiteColor;
      box-sizing: border-box;
      background-color: transparent;
    }
    &:first-child:hover{
      transform: none;
    }
  }
  &__second-title{
    display: none;
  }
  &__btns{
    display: flex;
    position: absolute;
    top: 88%;
    right: 11%;
  }
  &__btn-arrow{
    width: 99px;
    height: 95px;
    cursor: pointer;
    background-color: #002871;
    border: 0;
    z-index: 9999;
    transition: background-color 0.25s;
    &:first-child{
      transform: rotate(180deg);
      margin-right: 1px;
    }
    &:hover{
      background-color: $blueBG;
      transition: background-color 0.25s;
    }
    &:hover .electronica__arrow-path{
      transition: fill 0.25s;
      fill: $whiteColor;
    }
    &:active{
      background-color: #002871;
    }
    &:active .electronica__arrow-path{
      fill: $blueBG;
    }

  }
  &__arrow-path{
    transition: fill 0.25s;
  }
  &__arrow-svg{
    display: block;
    margin: auto;
  }
}

@media (max-width: 1280px) {
  .electronica{
    &__header{
      height: 100%;
    }
    &__article{
      width: 344px;
    }
    &__article:nth-child(2){
      width: 230px;
      left: 76%;
    }
    &__article:nth-child(3){
      width: 190px;
      left: 92%;
    }
    &__btn-arrow{
      width: 69px;
      height: 67px;
    }
    &__btns{
      top: 91.5%;
      right: 6%;
    }
  }

}

@media (max-width: 1024px) {
  .electronica{
    &__title{
      font-size: 35px;
      line-height: 140%;
    }
    &__article{
      width: 270px;
      height: 300px;
    }
    &__article:nth-child(2){
      width: 180px;
      height: 224px;
      left: 66.5%;
    }
    &__article:nth-child(3){
      width: 180px;
      height: 208px;
      left: 77%;
    }
  }

}
@media (max-width: 780px) {
  .electronica{
    height: 434px;
    &__header{
      justify-content: flex-start;
    }
    &__title{
      font-size: 26px;
      line-height: 140%;
    }
    &__wrp{
      height: 300px;
    }
    &__nav{
      margin: 38px auto 0;
    }
    &__article{
      left: 45%;
    }
    &__article:nth-child(3){
      left: 80%;
    }
    &__btn-arrow{
      width: 53px;
      height: 52px;
    }
    &__btns{
      top: 87.5%;
      right: 0%;
    }
  }
}

@media (max-width: 710px) {
  .electronica{
    height: 644px;
    &__header{
      display: none;
    }
    &__second-title{
      display: block;
      margin: 0 19px 114px 19px;

    }
    &__title{
      font-size: 24px;
      margin: 0 19px 114px 19px;
      max-width: 100%;
    }
    &__article {
      left: 3%;
      width: 265px;
      height: 244px;
    }
    &__article:nth-child(2){
      left: 40%;
      width: 235px;
      height: 209px;
    }
    &__article:nth-child(3){
      left: 44%;
      width: 200px;
      height: 172px;
    }
    &__wrp {
      height: 244px;
    }
    &__btn-arrow{
      width: 69px;
      height: 67px;
    }
    &__btns{
      top: 89.5%;
      right: 0%;
    }
  }
}

@media (max-width: 322px) {
  .electronica{
    &__title{
      font-size: 24px;
      max-width: 100%;
    }
    &__nav {
      margin: 59px 0 0 0;
    }
  }
}
