.header-navigation{
  border-top: 1px solid #cfcfcf;
  box-sizing: border-box;
&__menu{
   display: flex;
   justify-content: space-between;
  width: 90%;
 }
&__buttons{
   display: flex;
 }

&__search{
   background: none;
   border: none;
   cursor: pointer;
   padding: 0;
   margin-right: 10px;
   border-bottom: 5px solid transparent;
   box-sizing: border-box;
   &:hover{
     border-bottom: 5px solid $blueBG;
     box-sizing: border-box;
   }
  &:hover .header__loop{
    stroke: $blueBG;
  }
  &:active{
    border-bottom: 5px solid transparent;
    box-sizing: border-box;
  }
  &:active .header__loop{
    stroke: $blueColor;
  }
 }
&__lang{
   font-weight: 400;
   font-size: 14px;
   line-height: 16.8px;
   text-transform: uppercase;
   background: none;
   border: none;
   color: $blueBG;
   display: block;
   cursor: pointer;
   padding: 0;
   border-bottom: 5px solid transparent;
   box-sizing: border-box;
   &:hover{
     border-bottom: 5px solid $blueBG;
     box-sizing: border-box;
   }
 }
}
