.header{
  &__logo{
    width: 100%;
  }
  &__block{
    height: 120px;
  }
  &__contacts {
    padding: 13px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 70px;
  }
  &__about {
    display: grid;
    grid-template-columns: repeat(5, auto);
    min-width: 25%;
  }
  &__connect {
       display: grid;
       grid-template-columns: repeat(5, auto);
       grid-auto-columns: minmax(10px, 20px);
       margin-left: 15px;
     }

  &__connectWrp{
    display: flex;
    flex-wrap: wrap;
  }
  &__line{
      width: 43px;
      height: 80%;
      display: inline-block;
      border-top: 1px solid #025BFF;
      margin: 6px 20px 0 24px;
  }
  &__words{
      display: flex;
      flex-wrap: wrap;
      width: 80px;
      font-size: 10px;
      font-weight: 700;
      line-height: 12px;
      text-transform: uppercase;
      margin-top: 2px;
  }
  &__mail{
    color: $blueColor;
    font-weight: 300;
    font-size: 14px;
    line-height: 16.8px;
    display: block;
    margin: auto 0 auto 10px;
    padding: 0 2px;
    &:hover{
      color: $blueBG;
    }
    &:active{
      color: $blueColor;
    }
  }
  &__tel{
    color: $blueColor;
    font-weight: 700;
    font-size: 18px;
    display: block;
    width: 140px;
    margin: auto 15px auto 15px;
    padding: 0 2px;
    white-space: nowrap;
    &:hover{
      color: $blueBG;
    }
    &:active{
      color: $blueColor;
    }
  }

  &__phone{
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0 2px;
    margin:auto;
    :hover .header__phoneicon{
      stroke: $redColor;
    }
    :active .header__phoneicon{
      stroke: $blueColor;
    }
  }

  &__phoneicon{
    display: block;
    margin: 0 auto;
  }
  &__btn{
    background-color: $blueBG;
    color: $whiteColor;
    border-radius: 51px;
    border: 2px solid $blueBG;
    padding: 13px 27px 14px 26px;
    font-weight: 400;
    font-size: 13px;
    margin: 0 10px;
    border-radius: 51px;
    white-space: nowrap;
    &:hover{
      background-color: transparent;
      border: 2px solid $blueBG;
      color: $blueBG;
    }
    &:active{
      background-color: $blueBG;
      border: 2px solid transparent;
      color: $whiteColor;
    }
  }
  &__basket{
    position: relative;
    margin: auto;
    cursor: pointer;
    :hover .header__basketIcon{
      stroke: $redColor;
    }
    :active .header__basketIcon{
      stroke: $blueBG;
    }
  }
  &__counter{
    background-color: #FF6C5D;
    color: $whiteColor;
    border-radius: 9px;
    font-weight: 700;
    font-size: 10px;
    line-height: 17px;
    position: absolute;
    padding: 0 7px 1px 8px;
    top: -5px;
    right: -16px;
  }
  &__navigation{
    padding: 0 11.7%;
    display: flex;
    justify-content: space-between;
  }
  &__mobilemenu{
    display: none;
  }
}

.logo{
  &:hover .logo__words{
    fill: $blueBG;
  }
}

@media (max-width: 1280px) {
  .header__navigation{
    padding: 0 4%;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .header{
    &__btn{
      margin: 0 10px 0 10px;
    }
    &__mail{
      margin: 0;
    }
    &__tel{
      margin: 0;
    }
    &__connect{
      grid-column-gap: 30px;
    }
    &__connectWrp{
      margin: 0 10%;
      max-width: 190px;
    }
    &__mail{
      margin-bottom: 2px;
    }
    &__line{
      margin-left: 23px;
    }
  }
}

@media (max-width: 900px) {
  .header{
    &__btn{
      display: none;
    }
    &__connect{
      grid-template-columns: repeat(3, auto);
    }
    &__navigation{
      padding: 0 25px;
    }
  }
}

@media (max-width: 780px) {
  .header{
    &__mail{
      display: none;
    }
    &__wrp{
      display: flex;
      justify-content: space-between;
    }
    &__basket{
      margin-right: 63px;
    }
    &__navigation{
      margin-top: 0;
      display: none;
    }
    &__words{
      font-size: 9px;
      line-height: 10px;
      max-width: 72px;
    }
    &__tel{
      font-size: 16px;
    }
    &__telsvg{
      width: 17.11px;
      height: 17.19px;
    }
    &__basketsvg{
      width: 20.95px;
      height: 20px;
    }
    &__phone{
      margin-left: 0;
    }
    &__line{
      margin: 6px 11px 0 11px;
    }
    &__mobilemenu{
      display: flex;
    }
    &__connectWrp{
      align-content: center;
    }
    &__connect{
      grid-template-columns: repeat(3, auto);
      grid-column-gap: 30px;
    }
  }

}

@media(max-width: 779px){
  .header{
    &__line{
      display: none;
    }
    &__words{
      display: none;
    }
    &__connectWrp{
      display: none;
    }
    &__basket{
      display: none;
    }
    &__connect{
      grid-template-columns: repeat(1, auto);
      margin: 0 26px 0 5px;
    }
    &__contacts{
      padding: 15px 0;
      height: 60px;
      width: 88%;
    }
    &__logo{
      width: 166px;
    }
  }
}

@media (max-width: 710px) {
  .header__contacts{
    padding: 15px 0 15px 16px;

  }
}
