.menu{
  &__link{
    color: $blueColor;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.4px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 14px 0 16px 0;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 15px;
    text-align: center;
    border-bottom: 5px solid transparent;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: color 0.25s, border-bottom-color 0.25s;
    &:hover{
      color: $blueBG;
      border-bottom: 5px solid $blueBG;
      box-sizing: border-box;
      transition: color 0.25s, border-bottom-color 0.25s;
    }
    &:active{
      color: $blueColor;
      border-bottom: 5px solid transparent;
      box-sizing: border-box;
    }
  }
}

@media (max-width: 1280px) {
  .menu__link{
    margin: 0 15px 0 0;
  }
}
@media (max-width: 1024px) {
  .menu__link{
    font-size: 9px;
  }
}
