#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .mobile-menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .mobile-menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .mobile-menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .mobile-menu__box {
  visibility: visible;
  right: 0;
}

.mobile-menu{
  display: none;
  background-color: $blueBG;
  width: 70px;
  height: 70px;
  position: relative;
}

.mobile-menu__btn {
  display: none;
  align-items: center;
  position: absolute;
  top: 33%;
  width: 50%;
  margin: 0 25%;
  height: 20px;
  cursor: pointer;
  z-index: 99999999;
  &:hover .mobile-menu__line {
    background-color: $darkBlueColor;
    transition: background-color 0.25s;
  }
  &:hover .mobile-menu__line:before {
    background-color: $darkBlueColor;
    transition: background-color 0.25s;
  }
  &:hover .mobile-menu__line:after {
    background-color: $darkBlueColor;
    transition: background-color 0.25s;
  }
}

.mobile-menu__line{
  transition: background-color 0.25s;
  &:before{
    transition: background-color 0.25s;
  }
  &:after{
    transition: background-color 0.25s;
  }
}

.mobile-menu__btn > span,
.mobile-menu__btn > span::before,
.mobile-menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: $whiteColor;
  transition-duration: .5s;
  border-radius: 10px;
}

.mobile-menu__btn > span::before {
  content: '';
  top: -8px;
}
.mobile-menu__btn > span::after {
  content: '';
  top: 8px;
}

.mobile-menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  right: -462px;
  width: 462px;
  margin: 0;
  padding: 0 0 43px 0;
  list-style: none;
  background-color: $blueBG;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .5s;
  z-index: 999999;
}

.mobile-menu__header{
  display: flex;
  border-bottom: 1px solid $whiteColor;
  margin-bottom: 19px;
  padding: 18px 0 19px 55px;
  & .mobile-menu__item:nth-child(2){
    margin: 0 81px 0 92px;
  }
}

.mobile-menu__search-wrp{
  margin: auto 0;
  &:hover .mobile-menu__loop-svg{
    stroke: $blueColor;
    transition: stroke 0.25s;
  }
  &:active .mobile-menu__loop-svg{
    stroke: $whiteColor;
  }
}
.mobile-menu__loop-svg{
  transition: stroke 0.25s;
}

.mobile-menu__search{
  display: flex;
  justify-content: space-between;
  margin-right: 22px;
}

.mobile-menu__button{
  padding: 16px 54px;
  box-sizing: border-box;
  text-transform: uppercase;
}

.mobile-menu__item {
  cursor: pointer;
  display: block;
  margin:auto 0;
  border: 0;
  background-color: transparent;
  color: $whiteColor;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.25s;
}
.mobile-menu__item:hover {
  color:$darkBlueColor;
  transition: color 0.25s;
}
.mobile-menu__item:hover .mobile-menu__item-svg{
  stroke: $darkBlueColor;
}
.mobile_menu__kab{
  margin: 18px 0 18px 16px;
  border: 2px solid $whiteColor;
  border-radius: 51px;
  padding: 13px 10px 14px 26px;
  box-sizing: border-box;
  width: 172px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  &:hover{
    background-color: $blueColor;
    color: $whiteColor;
    transition: background-color 0.25s, color 0.25s;
  }
  &:active{
    background-color: transparent;
    color: $whiteColor;
  }
}
.mobile-menu__lang{
  text-transform: uppercase;
}
.mobile-menu__mail{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 16px 54px;
  box-sizing: border-box;
}

@media (max-width: 780px) {
  .mobile-menu{
    display: block;
    &__btn{
      display: flex;
    }
  }
}

@media (max-width: 779px) {
  .mobile-menu{
    width: 60px;
    height: 60px;
    min-width: 60px;
  }
}

@media (max-width: 470px) {
  .mobile-menu__box {
    right: -320px;
    width: 320px;
  }
  .mobile-menu__header{
    padding: 18px 0 19px 43px;
  }
  .mobile-menu__header .mobile-menu__item:nth-child(2) {
    margin: 0 51px 0 42px;
  }
  .mobile-menu__button{
    padding: 16px 42px;
  }
  .mobile-menu__mail{
    padding: 16px 42px;
  }
}
