.pagination{
  &__button{
    width: 6px;
    height: 6px;
    background-color: #025BFF;
    border: 0;
    padding: 0;
    cursor: pointer;
    transition: transform 0.25s;
    &:hover{
      transform: scale(2);
      transition: transform 0.25s;
    }
    &:active{
      transform: scale(0.5);
    }
  }
}
