.pagination{
  &__button{
    width: 6px;
    height: 6px;
    background-color: $blueBG;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
    transition: transform 0.25s, background-color 0.25s, border 0.25s;
    &:hover{
      transform: scale(2.5);
      background-color: transparent;
      border: 0.5px solid $blueBG;
      box-sizing: border-box;
      transition: transform 0.25s, background-color 0.25s, border 0.25s;
    }
    &:active{
      transform: scale(0.5);
    }
  }
}
