.pagination{
  &__button{
    width: 6px;
    height: 6px;
    background-color: #025BFF;
    border: 0;
    padding: 0;
    cursor: pointer;
    transition: transform 0.25s;
    &:first-child{
      width: 16px;
      height: 16px;
      border: 1px solid $whiteColor;
      box-sizing: border-box;
      background-color: transparent;
    }
    &:first-child:hover{
      transform: none;
    }
    &:hover{
      transform: scale(2.5);
      transition: transform 0.25s;
    }
    &:active{
      transform: scale(1);
    }
  }
}
