.slider-production{
  background-color: #EAF2FA;
  &__img{
    width: 970px;
    height: 640px;
  }
  &__wrp{
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__pagination-button{
    background-color: #A9BAD8;
  }
  &__pagination{
    width: 88px;
    height: 16px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: flex-end;
    align-items: center;
    margin-top: 50px;
  }
  &__arrows{
    margin: 50px 0 0 13%;
  }
  &__arrow-left{
    margin-right: 26px;
  }
  &__active-button{
    background-color: $blueBG;
    width: 16px;
    height: 16px;
    transition: background-color 0.25s;
    &:hover{
      transform: none;
      background-color: $blueBG;
      transition: background-color 0.25s;
    }
  }
  &__article{
    position: absolute;
    top: 18%;
    left: 0;
  }
  &__hover-block{
    width: 970px;
    height: 640px;
    background: none;
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    transition: background-color 0.25s;

    &:hover{
      background-color: $blueBG;
      transition: background-color 0.25s;
    };
    &:hover .slider-production__plus-block{
      animation: anim 1s;
    }
    &:hover .slider-production__plus{
      display: block;
    }
  }
  &__plus-block{
    width: 970px;
    height: 640px;
    background: none;
    opacity: 0.7;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    transition: background-color 0.25s;
  }
  &__plus{
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid $whiteColor;
    color: $whiteColor;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin: auto;
    display: none;
    transition: border 0.25s;
    &:hover{
      border: 2px solid $whiteColor;
      box-sizing: border-box;
      transition: border 0.25s;
    }
  }
}

@keyframes anim {
  from{
    right: -80%;
  }
  to{
    right: 0%;
  }
}
