.slider-article{
  background-color: $blueBG;
  &__count{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    &:hover {
      .slider-article__number{
        opacity: 100%;
        transition: opacity 0.25s;
      }
      .slider-article__total{
        opacity: 100%;
        transition: opacity 0.25s;
      }
    }
  }
  &:nth-of-type(2){
    background-color: cornflowerblue;
  }
  &:nth-of-type(3){
    background-color: darkblue;
  }
  &__number{
    font-weight: bold;
    font-size: 52px;
    line-height: 118%;
    color: $whiteColor;
    opacity: 0.2;
    margin: 0 7px 0 0;
    transition: opacity 0.25s;
  }
  &__total{
    font-weight: bold;
    line-height: 118%;
    color: $whiteColor;
    opacity: 0.2;
    font-size: 24px;
    transition: opacity 0.25s;
  }
  &__title{
    font-weight: 300;
    font-size: 32px;
    line-height: 140%;
    color: $whiteColor;
    margin: 9px 0 25px 0;
    display: block;
  }
  &__main-title{
    font-weight: 700;
  }
  &__text{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: $whiteColor;
    width: 381px;
    margin: 0 0 66px 0;
  }
  &__buttons{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
  &__button{
    color: $whiteColor;
    text-transform: uppercase;
    width: 205px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.63px;
    padding: 15px 33px;
    border: 1px solid $whiteColor;
    transition: background-color 0.25s, color 0.25s;
    &:hover{
      background-color: $whiteColor;
      color: $blueBG;
      transition: background-color 0.25s, color 0.25s;
    }
  }
  &__save{
    color: $whiteColor;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    background: none;
    border: transparent;
    padding: 0;
    transition: color 0.25s;
    &:hover{
      color: rgba(255, 255, 255, 0.61);
      transition: color 0.25s;
    }
    &:hover .slider-article__save-path{
      stroke: rgba(255, 255, 255, 0.61);
      transition: stroke 0.25s;
    }
  }
  &__save-svg{
    margin-left: 15px;
  }
  &__save-path{
    transition: stroke 0.25s;
  }
}

@media (max-width: 1280px) {
  .slider-article{
    &__number{
      font-size: 32px;
      line-height: 37.76px;
    }
    &__total{
      font-size: 16px;
      line-height: 118%;
    }
    &__title{
      margin: 2px 0 1px 0;
    }
  }
}

@media (max-width: 780px) {
  .slider-article{
    &__number{
      font-size: 26px;
      line-height: 30.68px;
    }
    &__total{
      font-size: 14px;
      line-height: 16.52px;
    }
    &__title{
      margin: 25px 0 20px 0;
      font-size: 26px;
      line-height: 36.4px;

    }
    &__text{
      margin: 0 0 37px 0;
      font-size: 15px;
    }
    &__save{
      text-align: left;
      margin-top: 19px;
    }
    &__buttons{
      flex-direction: column;
    }
  }
}

@media (max-width: 700px) {
  .slider-article{
    width: 100%;
    &__title{
      font-size: 20px;
      line-height: 28px;
      margin: 32px 0 15px 0;
    }
    &__text{
      width: 246px;
      margin-bottom: 52px;
    }
    &__button{
      width: 100%;
    }
    &__save{
      text-align: center;
    }
  }
}

@media (max-width: 320px) {
  .slider-article{
    width: 104%;
    left: -2%;
  }
}
