.video{
  background-image: url("../images/bg-video.jpg");
  background-repeat: no-repeat;
  background-position: center;
  animation-delay: 1s;
  cursor: pointer;
  transition: background-size 0.3s;
  position: relative;
  &:hover{
    background-size: 155%;
    transition: background-size 0.3s;
  }
  &:hover .video__circle{
    transition: border 0.3s;
    border: 1px solid $whiteColor;
  }
  &:hover .video__triangle-path{
    stroke-opacity:1;
    transition: stroke-opacity 0.3s;
  }
  &__link{
    color: $whiteColor;
    opacity: 0.5;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    transition: opacity 0.25s, text-decoration 0.25s;
    &:hover{
      opacity: 1;
      transition: opacity 0.25s;
    }
    &:active{
      opacity: 0.5;
    }
    &:hover{
      text-decoration: underline;
      transition: text-decoration 0.25s;
    }
    &:active{
      text-decoration: none;
    }
  }
  &__title{
    color: $whiteColor;
    font-weight: 300;
    font-size: 48px;
    line-height: 120%;
    max-width: 424px;
    margin: 0;
  }
  &__name{
    font-weight: 700;
  }
  &__txt{
    margin: auto 0;
  }
  &__wrp{
    display: flex;
    align-content: flex-end;
  }
  &__line{
    width: 200px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto 0 auto 64px;
  }
  &__circle{
    width: 231px;
    height: 231px;
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    box-sizing: border-box;
    background: none;
    cursor: pointer;
    transition: fill 0.25s, border 0.25s;
    &:hover .video__triangle{
      fill: $whiteColor;
      transition: fill 0.25s;
    }
    &:active .video__triangle{
      fill: none;
    }
  }
  &__triangle{
    margin: auto;
    display: block;
  }
  &__triangle-path{
    transition: stroke-opacity 0.3s;
  }
  &__play{
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 70%;
    display: none;
  }
  &__hide{
    display: none;
  }
  &__show{
    display: block;
  }
}

@media (max-width: 1280px) {
  .video{
    transition: background-size 0.25s;
    &__line{
      margin: auto 0 auto 32px;
      width: 170px;
    }
    &__title{
      font-size: 36px;
      line-height: 50px;
      max-width: 318px;
    }
    &__triangle{
      width: 77.38px;
      height: 98.81px;
    }
    &__circle{
      width: 144px;
      height: 144px;
    }
    &:hover{
      background-size: 200%;
      transition: background-size 0.25s;
    }
  }
}

@media (max-width: 1024px) {
  .video:hover{
    background-size: 260%;
  }
}

@media (max-width: 780px) {
  .video{
    background-image: url("../images/bg-video2.jpg");
    transition: background-size 0.25s;
    &__title{
      font-size: 26px;
      line-height: 36px;
      max-width: 246px;
    }
    &__line{
      width: 71px;
      margin: auto 0 auto 24px;
    }
    &__triangle{
      width: 49px;
      height: 63px;
    }
    &__circle{
      width: 99px;
      height: 99px;
    }
    &:hover{
      background-size: 245%;
      transition: background-size 0.25s;
    }
  }
}

@media (max-width: 475px) {
  .video{
    &__title{
      font-size: 20px;
      line-height: 28px;
      max-width: 246px;
    }
    &__line{
      display: none;
    }
    &__txt {
      margin: auto 10px auto 0;
    }
  }

}
@media (max-width: 320px) {
  .video{
    background-size: 210% 100%;
    background-position: 44% 0%;
    &__triangle{
      width:35px;
      height: 45px;
    }
    &__wrp{
      justify-content: space-evenly;
    }
    &__txt{
      width: 70%;
      margin: auto 0;
    }
    &__title{
      font-size: 19px;
    }
  }
}

